<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deburger.app.shop.notice.mapper.NoticeMapper">   

<!--  전체조회  -->
<select id = "noticeListShop" resultType="NoticeVO">
select 	notice_number
        ,division
	    ,writer_date
	    ,writer
	    ,title 
	    ,content
from notice
order by notice_number desc
</select>

<!-- 전체조회(업데이트) -->
<select id = "noticeListShopUpdate" resultType="NoticeVO">
select 	notice_number
        ,division
	    ,writer_date
	    ,writer
	    ,title 
	    ,content
from notice
where division ='업데이트'
order by notice_number desc
</select>

<!-- 전체조회(서비스) -->
<select id = "noticeListShopService" resultType="NoticeVO">
select 	notice_number
        ,division
	    ,writer_date
	    ,writer
	    ,title 
	    ,content
from notice
where division ='서비스'
order by notice_number desc
</select>

<!-- 전체조회(이벤트) -->
<select id = "noticeListShopEvent" resultType="NoticeVO">
select 	notice_number
        ,division
	    ,writer_date
	    ,writer
	    ,title 
	    ,content
from notice
where division = '이벤트'
order by notice_number desc
</select>

<!-- 전체조회(작업) -->
<select id = "noticeListShopWork" resultType="NoticeVO">
select 	notice_number
        ,division
	    ,writer_date
	    ,writer
	    ,title 
	    ,content
from notice
where division ='작업'
order by notice_number desc
</select>

<!-- 전체조회(공고) -->
<select id = "noticeListShopAnnouncement" resultType="NoticeVO">
select 	notice_number
        ,division
	    ,writer_date
	    ,writer
	    ,title 
	    ,content
from notice
where division ='공고'
order by notice_number desc
</select>



<!-- 상세조회 -->
<select id="noticeListInfoShop" resultType="NoticeVO">
select 	notice_number
        ,division
	    ,writer_date
	    ,writer
	    ,title 
	    ,content
from notice
where notice_number = #{noticeNumber}
</select>

<!-- 등록 -->
<insert id = "noticeInsertOffice" parameterType="NoticeVO">
INSERT INTO 	notice_number
               ,division
	           ,writer_date
	           ,writer
	           ,title 
	           ,content
VALUES        ('ANM' || LPAD(ANM_SEQ.nextval, '7', '0')
               ,#{division}
               ,#{writerDate}
               ,#{writer}
               ,#{title}
               ,#{content})
               
               
</insert>
</mapper>  