<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.deburger.app.shop.qsc.mapper.QscMapper">
	
	<select id="selectQscListRecent" >
	SELECT QSC_NUMBER
			,CATEGORY
			,CONTENT
			,SCORE
			,VERSION_INFORMATION
			,FINAL_CHANGE_DAY
			,LIST
	FROM qsc_list
	WHERE version_information = (SELECT MAX(VERSION_INFORMATION)
	                             FROM qsc_list)	
    ORDER BY category
	</select>
	
	<select id="cntQscListRecent" >
	SELECT MAX(VERSION_INFORMATION)+1 VERSION_INFORMATION
    FROM qsc_list	
	</select>
	
	
	<insert id="insertQscListRecent" parameterType="com.deburger.app.shop.qsc.service.QscVO">
	
	INSERT INTO qsc_list(
						QSC_NUMBER
						,CATEGORY
						,CONTENT
						,SCORE
						,VERSION_INFORMATION
						,FINAL_CHANGE_DAY
						,LIST)
	VALUES('QN' || LPAD(QN_SEQ.nextval, '7', '0')
	        , #{list}
	        , #{content}
	        , #{score}
	        , #{versionInformation}
	        , sysdate
	        , #{list}
	        )
	
	</insert>
	
	<insert id="insertQscDetails">
	<selectKey keyProperty="checklistNumber"
           order="BEFORE"
           resultType="String">
	SELECT 'QRN' || LPAD(QRN_SEQ.nextval, '7', '0') 
	from dual
	</selectKey>
		INSERT INTO qsc_result(
				CHECKLIST_NUMBER
				,QSC_DATE
				,PROCESS_CONDITION
				,STORE_NUMBER
				,QUALITY_SCORE
				,CLEANL_SCORE
				,SERVICE_SCORE
				)
		VALUES (
		        #{checklistNumber}
		        , SYSDATE
		        , 'N'
		        , #{storeNumber}
		        , #{qualityScore}
		        , #{cleanlScore}
		        , #{serviceScore}
		        )					
	</insert>
	
	<insert id="insertQscResultDetails">
	
		INSERT INTO qsc_result_details(
					QSC_RESULT_DETAILS_NUMBER
					,QSC_NUMBER
					,CHECKLIST_NUMBER
					,SCORE
					)
		VALUES (
					'QIN' || LPAD(QIN_SEQ.nextval, '7', '0')
					, #{qscNumber}
					, #{checklistNumber}
					, #{score}
			 )	
	</insert>
	
	<select id="selectQscListShop">	
	SELECT  QSC_DATE
	        , PROCESS_CONDITION
	        , q.STORE_NUMBER STORE_NUMBER
	        , CHECKLIST_NUMBER
	        , QUALITY_SCORE
	        , CLEANL_SCORE
	        , SERVICE_SCORE 
	        , STORE_NAME
	        , (QUALITY_SCORE + SERVICE_SCORE + CLEANL_SCORE) / 3 SCORE
	FROM qsc_result q JOIN store s
	on q.store_number = s.store_number
	WHERE q.STORE_NUMBER = #{storeNumber}
	</select>
	
	<select id="selectAllQscListShop">	
	SELECT  QSC_DATE
	        , PROCESS_CONDITION
	        , q.STORE_NUMBER STORE_NUMBER
	        , CHECKLIST_NUMBER
	        , QUALITY_SCORE
	        , CLEANL_SCORE
	        , SERVICE_SCORE 
	        , STORE_NAME
	        , (QUALITY_SCORE + SERVICE_SCORE + CLEANL_SCORE) / 3 SCORE
	FROM qsc_result q JOIN store s
	on q.store_number = s.store_number
	ORDER BY q.qsc_date desc
	</select>
	
	
	<select id="selectQscInfoDetail">
	SELECT  d.QSC_NUMBER QSC_NUMBER
			, CATEGORY
	        , CONTENT
	        , FINAL_CHANGE_DAY QSC_DATE
	        , LIST
	        , QSC_RESULT_DETAILS_NUMBER
	        , CHECKLIST_NUMBER
	        , d.SCORE SCORE
	FROM qsc_list l JOIN qsc_result_details d
	on l.qsc_number = d.qsc_number
	WHERE d.checklist_number = #{checklistNumber}		
	</select>
	
</mapper>