<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

#postnum {
	margin-top: 31.994px;
}

</style>

</head>

<body>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>업체 등록</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">공급업체 관리</a></li>
          <li class="breadcrumb-item active">업체 등록</li>
        </ol>
      </nav>
    </div>

 
    <section class="section">
      <div class="row">
      
		<div class="card">
            <div class="card-body">
             <h5 class="card-title"></h5>
             
              <!-- Multi Columns Form -->
              <form class="row g-3" th:action="@{supplierInsert}" method="post" name="insertForm">
                
                <div class="col-md-12">
                  <label for="cname" class="form-label">상호명</label>
                  <input type="text" class="form-control" id="cname" name="clientName">
                </div>
                
                <div class="col-md-12">
                  <label for="ceo" class="form-label">대표자명</label>
                  <input type="text" class="form-control" id="ceo" name="representativeName">
                </div>
                
                <div class="col-md-12">
                  <label for="busnum" class="form-label">사업자 번호</label>
                  <input type="text" class="form-control" id="busnum" oninput="hypenBusiness(this)" maxlength="12" name="businessnum" >
                </div>
                
                <div class="col-md-12">
                  <label for="bustype" class="form-label">업태</label>
                  <input type="text" class="form-control" id="bustype" name="businessType">
                </div>
                
                <div class="col-md-12">
                  <label for="tel" class="form-label">전화번호</label>
                  <input type="text" class="form-control" id="tel" name="phone" placeholder="하이픈(-)을 포함해주세요">
                </div>

                <div class="col-md-5">
                	<label for="postal" class="form-label">주소</label>
                	<input type="text" class="form-control" id="sample6_postcode" placeholder="우편번호" name="postal">
                </div>
                
                <div class="col-md-3">
                	<input type="button" class="btn btn-secondary" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" id="postnum">
                </div>
                
				<div class="col-md-6">
                	<input type="text" class="form-control" id="sample6_address" placeholder="주소" name="address">
                </div>
                
                <div class="col-md-6">
                	<input type="text" class="form-control" id="sample6_extraAddress" placeholder="상세주소" name="addresssec">
                </div>
                
                <div class="col-md-12">
                	<input type="text" class="form-control" id="sample6_detailAddress" placeholder="참고항목" name="note">
                </div>
                
                
                <div class="col-md-12">
                  <label for="email" class="form-label">이메일</label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>
                
                <div class="col-md-12">
                  <label for="contPdf" class="form-label">계약서</label>
                  <input type="file" class="form-control" id="contPdf" name="contractPdf">
                </div>
                
                <div class="col-md-12">
                  <label for="contDay" class="form-label">계약일자</label>
                  <input type="date" class="form-control" id="contDay" name="contractDay">
                </div>
                
                <div class="col-md-12">
                  <label for="pName" class="form-label">담당자명</label>
                  <input type="text" class="form-control" id="pName" name="personName">
                </div>
                
                <div class="col-md-12">
                  <label for="pPhone" class="form-label">담당자 번호</label>
                  <input type="text" class="form-control" id="pPhone" name="personPhone" oninput="hypenPphone(this)" maxlength="13">
                </div>
                
                <div class="col-md-12">
                  <label for="pEmail" class="form-label">담당자 이메일</label>
                  <input type="email" class="form-control" id="pEmail" name="personEmail">
                </div>
                
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">등록</button>
                  <button type="reset" class="btn btn-secondary">초기화</button>
                </div>
              </form><!-- End Multi Columns Form -->

            </div>
          </div>


        </div>
        

		<!-- 
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Example Card</h5>
              <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
            </div>
          </div>

        </div>
        -->
        
      </div>
    </section>

  </main>

</body>
</html>



<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
    

    //사업자번호 하이픈 추가
    const hypenBusiness = (target) => {
    	target.value = target.value.replace(/[^0-9]/g, '')
    	.replace(/^(\d{2,3})(\d{1,2})(\d{4,5})$/, `$1-$2-$3`);
    }
    
    //담당자번호 하이픈 추가
    const hypenPphone = (target) => {
    	target.value = target.value.replace(/[^0-9]/g, '')
    	.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
    }

    
</script>