<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/layout}" layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
#postnum2 {
	margin-top: 31.994px;
}
</style>

</head>

<body>

	<main id="main" class="main">
		<div class="pagetitle">
			<h1>업체 등록</h1>
		</div>

		<div class="card">
			<div class="card-body">
				<h1 class="card-title"></h1>

				<!-- Multi Columns Form -->
				<form class="row g-3" th:action="@{supplierInsert}" method="post"
					name="insertForm" enctype="multipart/form-data">
					
					<div class="row g-3">
						<div class="col-sm-2">
							<label for="cname" class="form-label">상호명</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="cname" name="clientName">
						</div>
					</div>

					<div class="row g-3">
						<div class="col-sm-2">
							<label for="ceo" class="form-label">대표자명</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ceo" name="representativeName">
						</div>
					</div>
					
					<div class="row g-3">
						<div class="col-sm-2">
							<label for="busnum" class="form-label">사업자 번호</label>
						</div>
						<div class="col-sm-10">
							<input
							type="text" class="form-control" id="busnum"
							oninput="hypenBusiness(this)" maxlength="12" name="businessnum">
						</div>
					</div>
					
					<div class="row g-3">
						<div class="col-sm-2">
							<label for="bustype" class="form-label">업태</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="bustype" name="businessType">
						</div>
					</div>
					
					<div class="row g-3">
						<div class="col-sm-2">
							<label for="tel" class="form-label">전화번호</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="tel" name="phone" placeholder="하이픈(-)을 포함해주세요">
						</div>
					</div>
					
					<div class="row g-3">
						<div class="col-sm-2">
							<label for="postal" class="form-label">주소</label>
						</div>
						<div class="col-sm-8">
							<input
							type="text" class="form-control" id="sample6_postcode"
							placeholder="우편번호" name="postal">
						</div>
						<div class="col-sm">
							<input type="button" class="btn btn-secondary"
							onclick="sample6_execDaumPostcode()" value="우편번호 찾기" id="postnum">
						</div>
						
						<div class="col-sm-2">
						</div>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="sample6_address"
							placeholder="주소" name="address">
						</div>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="sample6_extraAddress"
							placeholder="상세주소" name="addresssec">
						</div>
						
						<div class="col-sm-2">
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="sample6_detailAddress"
							placeholder="참고항목" name="note">
						</div>
					</div>
					
					<div class="row g-3">
						<div class="col-sm-2">
							<label for="email" class="form-label">이메일</label>
						</div>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="email" name="email">
						</div>
					</div>
					
					
					<div class="row g-3">
						<div class="col-sm-2">
							<label for="contPdf" class="form-label">계약서</label>
						</div>
						<div class="col-sm-10">
							<input type="file" class="form-control" id="contractPdf" name="contractPdfFile">
						</div>
					</div>
					
					<div class="row g-3">
						<div class="col-sm-2">
							<label for="contDay" class="form-label">계약일자</label>
						</div>
						<div class="col-sm-10">
							<input type="date" class="form-control" id="contDay" name="contractDay">
						</div>
					</div>
					
					<div class="row g-3">
						<div class="col-sm-2">
							<label for="pName" class="form-label">담당자명</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="pName" name="personName">
						</div>
					</div>
					
					
					<div class="row g-3">
						<div class="col-sm-2">
							<label for="pPhone" class="form-label">담당자 번호</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="pPhone" name="personPhone"
							oninput="hypenPphone(this)" maxlength="13">
						</div>
					</div>
					
					<div class="row g-3">
						<div class="col-sm-2">
							<label for="pEmail" class="form-label">담당자 이메일</label>
						</div>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="pEmail" name="personEmail">
						</div>
					</div>
					
	
					<div class="text-center">
						<button type="submit" class="btn btn-primary">등록</button>
						<button type="reset" class="btn btn-secondary">초기화</button>
					</div>
				</form>
				<!-- End Multi Columns Form -->

			</div>
		</div>


	</main>

</body>
</html>

<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript"
	src="assets/js/cyj/supplier/supplierInsert.js"></script>
