<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <main id="main" class="main">
    <div class="pagetitle">
      <h1>제품 관리</h1>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                  <div class="col-sm-2" id="choice">
	                    <select class="form-select" aria-label="Default select example" id="selected" name="selected" style="margin-top:10px;">
	                      <option value="버거" id="burger">버거</option>
	                      <option value="사이드" id="side">사이드</option>
	                      <option value="음료" id="drink">음료</option>
	                    </select>
                  </div>
                  <!--  시작  -->
		          <div class="row" id = "app">
				  <div class="col-md-4" th:each="lists:${products}">
				    <div class="thumbnail">
				        <img th:src="@{/images/{image}(image =${lists.image})}" alt="Lights" style="width:500px; height:300px; margin-top:10px;">
				        <div class="caption">
				          <p th:text="${lists.productName}" style="margin-bottom: 0; text-align:center;"></p>
				          <p th:text="${#numbers.formatInteger(lists.saleUnitprice, 0, 'COMMA')} + '원'" style="text-align:center;"></p>
				        </div>
				    </div>
				  </div>
				</div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </section>
    </main>
</body>
<script>
	$('#selected').on('change', function(){
		let category = $(this).val();
			console.log(category);
		$.ajax({
			 url : '/deburger/products',
		     method : 'post',
		     contentType : "application/json",
		     data : JSON.stringify({category}),  
		     success : function(result){
		     		console.log('성공 하였습니다.');
			}
		})
		.done(data =>{
			$(data).each(function(index, item){
				let lists = item.products;
				$('#app').html('');
				$(lists).each(function(index, item){
					let devs = `<div class="col-md-4">
					    <div class="thumbnail">
					        <img src="/deburger/images/${item.image}" style="width:500px; height:300px; margin-top:10px;">
					        <div class="caption">
					          <p style="margin-bottom: 0; text-align:center;">${item.productName} </p>
					          <p style="text-align:center;">${item.saleUnitprice.toLocaleString()}원</p>
					        </div>
					    </div>
					  </div>
					</div>`
					$('#app').append(devs)
				})
			})
		})
		
	})
	
	
</script>
</html>