<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>유통 상세 관리</title>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>유통 상세 관리</h1>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<!-- Table with stripped rows -->
							<!-- <table class="table datatable"> -->
							<table class="table ">
								<thead>
									<tr>
										<th data-type="date" data-format="YYYY/DD/MM">발주 일자</th>
										<th>품목 이름</th>
										<th>거래처 이름</th>
										<th>주문 수량</th>
										<th>현재 재고</th>
										<th data-type="date" data-format="YYYY/DD/MM">유통기한</th>
										<th>재고 조정</th>
									</tr>
								</thead>
								<tbody>
								 	<th:block th:each="list:${limitList}">
										<tr id = list>
											<td>[[${#dates.format(list.orderDay,'yyyy/MM/dd')}]]</td>
											<td th:text="${list.materialName}" />
											<td>본사</td>
											<td th:text="${list.count}" />
											<td th:text="${list.remainStockCount}" />
											<td>[[${#dates.format(list.expirationLimit,'yyyy/MM/dd')}]]</td>
											<td><button type="button" class="btn btn-primary btn-sm btnStock"
													data-bs-toggle="modal" data-bs-target="#disablebackdrop">재고
													조정</button></td>
											<td style="display: none;" th:text="${list.orderDetailsNumber}" />
											<td style="display: none;" th:text="${list.materialNumber}" />
											
										</tr>
									</th:block> 
								</tbody>
							</table>
							<!-- End Table with stripped rows -->
						</div>
					</div>

				</div>
			</div>
		</section>
	</main>
	 
	 <form>
		<div class="modal fade" id="disablebackdrop" tabindex="-1"
			data-bs-backdrop="false">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">재고 조정</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<table class="table ">
							<thead>
								<tr>
									<th>발주 일자</th>
									<th>유통 기한</th>
									<th>이름</th>
									<th>현재 재고</th>
									<th>조정 재고</th>
									<th>비고</th>
									<th>폐기</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td id="orderDay"></td>
									<td id="limitDay"></td>
									<td id="materialName"></td>
									<td id="remainStockCount"></td>
									<td><input type="number" value="0" id="StockCount" th:min="-${limitList[0].remainStockCount}"></td>
									<td><input type="text" id="out"></td>
									<td><input type="checkbox" name="checkOrder"></td>
									
									<td style="display: none;" id="orderDetails"></td>
									<td style="display: none;" id="material"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="savebtn">저장</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
	</form> 
	 
	<script>
	
	$(".btnStock").on("click", function(event) {
		document.getElementById('orderDay').innerHTML=$(event.target).closest('tr').children().eq(0).text();
		document.getElementById('limitDay').innerHTML=$(event.target).closest('tr').children().eq(5).text();
		document.getElementById('materialName').innerHTML=$(event.target).closest('tr').children().eq(1).text();
		document.getElementById('remainStockCount').innerHTML=$(event.target).closest('tr').children().eq(4).text();
		document.getElementById('orderDetails').innerHTML=$(event.target).closest('tr').children().eq(7).text();
		document.getElementById('material').innerHTML=$(event.target).closest('tr').children().eq(8).text();
		let mins = '-'+$(event.target).closest('tr').children().eq(4).text();
		document.getElementById('StockCount').setAttribute('min',mins);
	});
	
	 $("#savebtn").on("click", function(event) {
		let list = {};
		

		
		if($("[name='checkOrder']:checked").length == 0){
			var orderDetailsNumber = $('#orderDetails').html();
			var stockCount = $('#StockCount').val();
			var materialNumber = $('#material').html();
			var amountcon =  $('#StockCount').val();
			var remainStockCount = $('#StockCount').val();
			var note = $('#out').val();
			var disposalOperation = 'K1';
			
			
		}else{
			var orderDetailsNumber = $('#orderDetails').html();
			var stockCount = $('#remainStockCount').html();
			var materialNumber = $('#material').html();
			var remainStockCount = -$('#remainStockCount').html();
			var amountcon =  $('#remainStockCount').html();
			var note = $('#out').val();
			var disposalOperation = 'K2';

			
		}
		list = {remainStockCount,note,orderDetailsNumber,remainStockCount,stockCount,materialNumber,amountcon,disposalOperation};

		$.ajax({
			url : "storeStockUPandIN",
			method : "POST",
			contentType:"application/JSON",
			data : JSON.stringify(list),
			
		})
		
		.then((end) => {
			location.href="limitList"
		})
	}); 
	
	</script>
</body>
</html>