<div class="card">
	<div class="card-body">
		<h5 class="card-title">월간 수익</h5>

		<!-- Area Chart -->
		<div id="areaChart1" style="min-height: 400px;" class="echart"></div>

		<script th:inline="javascript">
              
		 var datas = [[${shopSellG}]];
         var list =[];
         var datelist = [];
                  
         for(let i = 0; i<datas.length; i++){
       	  list.push(datas[i].profits);
       	  datelist.push(i+1);
         }
      		
      		
      		
                  echarts.init(document.querySelector("#areaChart1")).setOption({
                    xAxis: {
                      type: 'category',
                      boundaryGap: false,
                      data: datelist
                    },
                    yAxis: {
                      type: 'value'
                    },
                    series: [{
                      data: list,
                      type: 'line',
                      smooth: true,
                      areaStyle: {}
                    }]
                  });
              </script>
		<!-- End Area Chart -->

	</div>
</div>

