<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>재료 판매</title>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>재료 판매 통계</h1>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-body">
							<table class="table ">
								<thead>
									<tr>
										<th>제품 이름</th>
										<th>카테코리</th>
										<th>종류</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="list:${StoreProSaleList}">
										<tr>
											<td style="display: none;" th:text=${list.productNumber} />
											<td th:text=${list.productName} />
											<td th:text=${list.category} />
											<td th:text=${list.kind} />
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-lg-6" id="graph">
				</div>
			</div>
		</section>
	</main>
	<script th:inline="javascript">
	$('tbody > tr').on("click", function(event) {
		let list = {};
		
		let productNumber = $(event.target).closest('tr').children().eq(0).html();

		list = {productNumber};
		
		
		$('#graph').load("StoreProSaleoneList?productNumber=" + productNumber);
		
	});
	</script>
</body>

</html>