<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>발주 관리</title>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">

			<h1>발주 리스트</h1>

			<h6 style="display: inline-block;">
				<a href="ShopOrderList" class="badge border-dark border-1 text-dark">수동
					발주</a><span> | </span><a href="ShopAutoOrderList"
					class="badge border-dark border-1 text-dark">자동 발주</a>
			</h6>






			<button type="button" class="btn btn-primary btn-sm"
				style="padding: 5px 20px 5px 20px; margin-left: 80%;"
				onClick="location.href='selectOrderCart'">발주 신청</button>

		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<!-- Table with stripped rows -->
							<!-- <table class="table datatable"> -->
							<table class="table ">
								<thead>
									<tr>
										<th data-type="date" data-format="YYYY/DD/MM">발주 일자</th>
										<th>발주 번호</th>
										<th>발주 이름</th>
										<th>총 금액</th>
										<th>담당자</th>
										<th>이메일</th>
										<th>연락처</th>
										<th>진행 상태</th>
										<th>상세내역</th>
										<th>취소여부</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="list:${viewAll}">
										<tr>
											<td>[[${#dates.format(list.orderDay,'yyyy/MM/dd')}]]</td>
											<td th:text="${list.orderNumber}" id="orderNumber" />
											<td th:text="${list.orderName}" />
											<td th:text="${list.allprice}" />
											<td th:text="${list.personID}" />
											<td th:text="${list.email}">
											<td th:text="${list.phone}">
											<td
												th:if="${list.cancelOperation == 'J2' and list.oderApp == 'L1'}">취소
												완료</td>
											<td
												th:if="${list.cancelOperation == 'J1' and list.oderApp == 'L1'}">발주
												승인 전</td>
											<td
												th:if="${list.cancelOperation == 'J1' and list.oderApp == 'L2'}">발주
												승인</td>
											<td
												th:if="${list.cancelOperation == 'J1' and list.oderApp == 'L3'}">출고
												완료</td>
											<td><button type="button"
													class="btn btn-primary btn-sm" th:id="${list.orderNumber}"
													onclick="orderInfo()">상세 내역</button></td>
											<td><button type="button" class="btn btn-primary btn-sm"
													id="canclebtn"
													th:if="${list.cancelOperation == 'J1' and list.oderApp == 'L1'}">취소
												</button></td>
										</tr>
									</th:block>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->

						</div>
					</div>
					<div style="display: block; text-align: center;" id="pagelist">
						<nav aria-label="Page navigation">
							<ul class="pagination justify-content-center">
								<!-- Previous button -->
								<li class="page-item"
									th:classappend="${paging.startPage == 1} ? 'disabled'"><a
									class="page-link"
									th:href="@{/ShopOrderList(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}"
									aria-disabled="true">&lt;</a></li>
								<!-- Page numbers -->
								<li class="page-item"
									th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}"
									th:classappend="${p == paging.nowPage} ? 'active'"><span
									th:if="${p == paging.nowPage}"> <a class="page-link"
										th:text="${p}"></a>
								</span> <span th:if="${p != paging.nowPage}"> <a
										class="page-link"
										th:href="@{/ShopOrderList(nowPage=${p}, cntPerPage=${paging.cntPerPage})}"
										th:text="${p}"></a>
								</span></li>
								<!-- Next button -->
								<li class="page-item"
									th:classappend="${paging.endPage == paging.lastPage} ? 'disabled'">
									<a class="page-link"
									th:href="@{/ShopOrderList(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script>

	
	$("#canclebtn").on("click",function(event){		
		$.ajax({
			url : "updateOrderCancel?orderNumber="+$(event.target).closest('tr').children().eq(1).text(),
			method : "POST",
			
		}).then((end) => {
			location.href="ShopOrderList"
		})
		
	})
	
	function orderInfo(){
		
		let url ='ShopOrderInfo?orderNumber=' + event.target.id;
		location.href = url;
	}

	

	</script>
</body>

</html>