<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>발주 관리</title>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>발주 리스트</h1>
			<h6><a href="Order">수동 발주</a><span> | </span><a href="OrderAuto">자동 발주</a></h6>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<!-- Table with stripped rows -->
							<!-- <table class="table datatable"> -->
							<table class="table ">
								<thead>
									<tr>
										<th><th data-type="date" data-format="YYYY/DD/MM">발주 일자</th></th>
										<th>발주 번호</th>
										<th>발주 이름</th>
										<th>담당자</th>
										<th>이메일</th>
										<th>총 금액</th>
										<th>삼품명</th>
										<th>상세내역</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
							<!-- End Table with stripped rows -->

						</div>
					</div>

				</div>
			</div>
		</section>
	</main>
</body>

</html>