<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>발주 관리</title>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>발주 리스트</h1>
			<nav class="navbar navbar-expand-lg bg-body-t00ertiary">
				<div class="container-fluid">
					<!-- class="collapse navbar-collapse" -->
					<div id="navbarSupportedContent" style="width:69%">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="ShopOrderList" style="color: grey; font-size: 20px; font-family: Do Hyeon">수동발주</a></li>
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="ShopAutoOrderList" style="font-weight: bold; font-size: 20px; font-family: Do Hyeon">자동발주</a></li>
						</ul>
					</div>
					</div>
					</nav>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<!-- Table with stripped rows -->
							<!-- <table class="table datatable"> -->
							<table class="table ">
								<thead>
									<tr>
										<th>발주 코드</th>
										<th>품목 이름</th>
										<th>품목 구분</th>
										<th>단위</th>
										<th>금액</th>
										<th>현재 재고</th>
										<th>적정 재고</th>
										<th>발주 취소</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="list:${viewAll}">
										<tr>
											<td th:text="${list.orderDetailsNumber}" />
											<td th:text="${list.materialName}" />
											<td th:text="${list.materialItem}" />
											<td th:text="${list.unit}" />
											<td th:text="${list.saleUnitprice}" />
											<td th:if="${list.stockCount >= 0} "
												th:text="${list.stockCount}" />
											<td th:if="${list.stockCount < 0} ">0</td>
											<td th:text="${list.safetyStock}" />
											<td><button type="button" class="btn btn-primary btn-sm">자동
													발주 취소</button></td>
										</tr>
									</th:block>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->

						</div>
					</div>
					<div style="display: block; text-align: center;" id="pagelist">
						<nav aria-label="Page navigation">
							<ul class="pagination justify-content-center">
								<!-- Previous button -->
								<li class="page-item"
									th:classappend="${paging.startPage == 1} ? 'disabled'"><a
									class="page-link"
									th:href="@{/ShopAutoOrderList(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}"
									aria-disabled="true">&lt;</a></li>
								<!-- Page numbers -->
								<li class="page-item"
									th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}"
									th:classappend="${p == paging.nowPage} ? 'active'"><span
									th:if="${p == paging.nowPage}"> <a class="page-link"
										th:text="${p}"></a>
								</span> <span th:if="${p != paging.nowPage}"> <a
										class="page-link"
										th:href="@{/ShopAutoOrderList(nowPage=${p}, cntPerPage=${paging.cntPerPage})}"
										th:text="${p}"></a>
								</span></li>
								<!-- Next button -->
								<li class="page-item"
									th:classappend="${paging.endPage == paging.lastPage} ? 'disabled'">
									<a class="page-link"
									th:href="@{/ShopAutoOrderList(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script>
		$("td > button").on(
				"click",
				function(event) {

					let url = 'Delauto?orderDetailsNumber='
							+ $(event.target).closest('tr').children().eq(0)
									.html();
					location.href = url;
				});
	</script>
</body>
</html>