<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>구매 내역서</title>
<style>
th, td {
	border: solid 1px black;
}
</style>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1 class="card-title">구매 내역서</h1>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<div style="text-align: right; margin: 0 0 10px 0;">
								<button type="button" class="btn btn-primary" onclick="location.href='ShopOrderList'" style="margin-top: 10px;">돌아가기</button>
							</div>
							<table class="col-lg-12" style="text-align: center">
								<thead>
									<tr>
										<th>발주건명</th>
										<td colspan='9' th:text="${ShopOrderInfo[0].orderName}"></td>
									</tr>
									<tr>
										<th>발주일자</th>
										<td colspan='9' id='date'>[[${#dates.format(ShopOrderInfo[0].orderDay,'yyyy/MM/dd')}]]</td>
									</tr>
									<tr>
										<th>발신 업체 이름</th>
										<td colspan='4' th:text="${ShopOrderInfo[0].storeName}"></td>
										<th>수신 업체 이름</th>
										<td colspan='4'>디버거</td>
									</tr>
									<tr>
										<th rowspan="2">연락처</th>
										<th>전화번호</th>
										<td colspan='3' th:text="${ShopOrderInfo[0].ssph}"></td>

										<th rowspan="2">연락처</th>
										<th>전화번호</th>
										<td colspan='3'>053-0000-0000</td>

									</tr>
									<tr>
										<th>이메일</th>
										<td colspan='3' th:text="${ShopOrderInfo[0].ssemail}"></td>
										<th>이메일</th>
										<td colspan='3'>info@deburger.com</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>합계금액</th>
										<td style="text-align: center" colspan='9'>일금 
										<input type="text" style="border: none; width: 200px;" id="korSum"
											readonly /> 원정( 
											<input type="text" style="border: none; width: 200px;" id="allSum" readonly />
											)세액포함
										</td>
									</tr>
									<tr>
										<th class="col-lg-1">No.</th>
										<th class="col-lg-1">품명</th>
										<th class="col-lg-1">수량</th>
										<th class="col-lg-1">단위</th>
										<th class="col-lg-1">재료 구분</th>
										<th class="col-lg-1">품목</th>
										<th class="col-lg-1">원금</th>
										<th class="col-lg-1">주문 금액</th>
										<th class="col-lg-1">세액</th>
										<th class="col-lg-1">총금액</th>
									</tr>
									<th:block th:each="list,index:${ShopOrderInfo}">
										<tr>
											<td th:text=${index.index+1} />
											<td th:text="${list.materialName}" />
											<td th:text="${list.count}" />
											<td th:text="${list.unit}" />
											<td th:text="${list.materialItem}" />
											<td th:text="${list.materialClassification}" />
											<td th:text="${list.saleUnitprice}" id="oprice" />
											<td th:text="${list.saleUnitprice*list.count}" id="price"></td>
											<td th:text="${list.saleUnitprice*list.count/10}"
												id="texprice"></td>
											<td
												th:text="${list.saleUnitprice*list.count}+${list.saleUnitprice*list.count/10}"
												id="allprice" class="allprice"></td>										
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script>
			
		Calculator();
		
		let today  = new Date().toISOString().substring(0, 10);
		
		
		function Calculator(){
			
			let sum = 0;
			  $('.allprice').each(function(index,item){
				  sum += Number(item.innerHTML);
			});
			  
			  $('#allSum').val(sum);
			  $('#korSum').val(geKoreanNumber(sum));
			 
		}
		
		function geKoreanNumber(number) {
			  const koreanNumber = ['', '일', '이', '삼', '사', '오', '육', '칠', '팔', '구'];
			  const tenUnit = ['', '십', '백', '천'];
			  const tenThousandUnit = ['조', '억', '만', ''];
			  const unit = 10000;

			  let answer = '';

			  while (number > 0) {
			    const mod = number % unit;
			    const modToArray = mod.toString().split('');
			    const length = modToArray.length - 1;

			     const modToKorean = modToArray.reduce((acc, value, index) => {
			      const valueToNumber = +value;
			      if (!valueToNumber) return acc;

			      const numberToKorean = index < length && valueToNumber === 1 ? '' : koreanNumber[valueToNumber];
			      return `${acc}${numberToKorean}${tenUnit[length - index]}`;
			    }, '');

			    answer = `${modToKorean}${tenThousandUnit.pop()} ${answer}`;
			    number = Math.floor(number / unit);
			  }

			  return answer.replace();
			}
		
	</script>
</body>
</html>
