<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>제품 판매</title>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>제품 판매 통계</h1>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-body">
						<input type='date' id='currentDate' class="form-control" style="margin-top: 10px"/>
							<table class="table ">
								<thead>
									<tr>
										<th>제품 이름</th>
										<th><select id="stockC" class="form-select">
												<option value="main">품목 구분</option>
												<option th:each="stockCList : ${stockC}"
													th:value="${stockCList.category}"
													th:text="${stockCList.category}"></option>
										</select></th>
										<th>종류</th>
									</tr>
								</thead>
								<tbody id="list">
									<th:block th:each="list:${StoreProSaleList}">
										<tr>
											<td style="display: none;" th:text=${list.productNumber} />
											<td th:text=${list.productName} />
											<td th:text=${list.category} />
											<td th:text=${list.kind} />
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					
					<div id="graph"></div>

				</div>
			</div>
		</section>
	</main>
	<script th:inline="javascript">
		document.getElementById('currentDate').value = new Date().toISOString()
				.substring(0, 10);

		var num = '';
		$('tbody > tr').on("click", function(event) {
			num = $(event.target).closest('tr').children().eq(0).html();
			regr();
		});

		$('#currentDate').on("change", function(event) {
			regr();
		});

		function regr() {
			let list = {};

			let productNumber = num;
			let productdate = $('#currentDate').val();

			let url = `StoreProSaleoneList?productNumber=${productNumber}&productDate=${productdate}`

			$('#graph').load(url);
		}
		
		$("#stockC").on("change", function() {		
			let category = $('#stockC').val();
			
			if(category == 'main'){
				location.href="StoreProSaleList"
			}else{

				let list = {category};
				$.ajax({
					
					url : "classificationListpro",
					method : "Post",
					contentType:"application/JSON",
					data : JSON.stringify(list),
					
				}).then((result) => {
					$('#list').html('');
					
					$(result).each(function(index, item){
						
						console.log(item);
						
						let tr = `<tr>
						<td style="display: none;" >${item.productNumber}</td>
						<td>${item.productName}</td>
						<td>${item.category}</td>
						<td>${item.kind}</td>
						</tr>`
						
						$('#list').append(tr)
						
						
					})
					
					num = '';
					$('tbody > tr').on("click", function(event) {
						num = $(event.target).closest('tr').children().eq(0).html();
						regr();
					});

					$('#currentDate').on("change", function(event) {
						regr();
					});
					
					
				})
			}
			
			
		});
	</script>
</body>

</html>