<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>구매 발주서</title>
<style>
th, td {
	border: solid 1px black;
}
</style>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1 class="card-title">구매 발주서</h1>
		</div>
		<div class="card">
			<div class="card-body">
				<!-- Default Tabs -->
				<ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
					<li class="nav-item flex-fill" role="presentation">
						<button class="nav-link w-100 active" id="home-tab"
							data-bs-toggle="tab" data-bs-target="#home-justified"
							type="button" role="tab" aria-controls="home"
							aria-selected="true">수동 발주</button>
					</li>
					<li class="nav-item flex-fill" role="presentation">
						<button class="nav-link w-100" id="profile-tab"
							data-bs-toggle="tab" data-bs-target="#profile-justified"
							type="button" role="tab" aria-controls="profile"
							aria-selected="false">자동 발주</button>
					</li>
				</ul>
				<div class="tab-content pt-2" id="myTabjustifiedContent">
					<div class="tab-pane fade show active" id="home-justified"
						role="tabpanel" aria-labelledby="home-tab"></div>
					<div class="tab-pane fade" id="profile-justified" role="tabpanel"
						aria-labelledby="profile-tab">
						<span>* 자동 발주 조건을 선택해주세요.</span>
						<div>
							<div>
								<input type="radio" name="option" value="1" />재고 수량 <input
									class="form-control" style="width: 200px;" type="number" />
							</div>
							<div>
								<input type="radio" name="option" value="2" />일별 주문 <input
									class="form-control" style="width: 200px;" type="number" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>




		<div style="text-align: right; margin: 0 0 10px 0;">
			<button type="button" class="btn btn-primary" id="save">발주
				저장</button>
			<button type="button" class="btn btn-primary" id="App">발주 신청</button>
			<button type="button" class="btn btn-primary" id="cancel">발주
				취소</button>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<table class="col-lg-12">
								<thead>
									<tr>
										<th>발주건명</th>
										<td colspan='7'></td>
									</tr>
									<tr>
										<th>발주일자</th>
										<td colspan='7'></td>
									</tr>
									<tr>
										<th>발신 업체 이름</th>
										<td colspan='3'></td>
										<th>수신 업체 이름</th>
										<td colspan='3'></td>
									</tr>
									<tr>
										<th rowspan="2">연락처</th>
										<th>전화번호</th>
										<td colspan='2'></td>

										<th rowspan="2">연락처</th>
										<th>전화번호</th>
										<td colspan='2'></td>

									</tr>
									<tr>
										<th>이메일</th>
										<td colspan='2'></td>
										<th>이메일</th>
										<td colspan='2'></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>합계금액</th>
										<td style="text-align: center" colspan='7'>일금 <input
											type="text" style="border: none; width: 200px;" /> 원정( <input
											type="text" style="border: none; width: 200px;" /> )세액포함
										</td>
									</tr>
									<tr style="text-align: center">
										<th class="col-lg-1">No.</th>
										<th class="col-lg-1">품명</th>
										<th class="col-lg-1">규격</th>
										<th class="col-lg-1">수량</th>
										<th class="col-lg-1">단가</th>
										<th class="col-lg-1">공급 가액</th>
										<th class="col-lg-1">세액</th>
										<th class="col-lg-1">합계금액</th>
									</tr>
									<th:block th:each="list,index:${selectOrderCart}">
										<tr>
											<td th:text=${index.index+1} />
											<td th:text="${list.materialName}" />
											<td th:text="${list.unit}" />
											<td><input type="text" th:value="${list.count}" class = "count"></td>
											<td th:text="${list.saleUnitprice}" id="originPrice" />
											<td th:text="${list.saleUnitprice*list.count}" id = "money"></td>
											<td th:text="${list.saleUnitprice*list.count/10}" id = "moneyTax"></td>
											<td
												th:text="${list.saleUnitprice*list.count}+${list.saleUnitprice*list.count/10}" id="allPrice"></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script>
		$("count").on("change", function(event) {
			document.getElementById('money').innerHTML=document.querySelector('#count').value*document.querySelector('#originPrice').textContent
			document.getElementById('moneyTax').innerHTML=document.querySelector('#money').textContent/10
			document.getElementById('allPrice').innerHTML=Number(document.querySelector('#money').textContent)+Number(document.querySelector('#moneyTax').textContent)
		});

	</script>
</body>
</html>
