<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>구매 발주서</title>
<style>
th, td {
	border: solid 1px black;
}
</style>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1 class="card-title">구매 발주서</h1>
		</div>
		<div class="card">
			<div class="card-body">
				<!-- Default Tabs -->
				<ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
					<li class="nav-item flex-fill" role="presentation">
						<button class="nav-link w-100 active" id="home-tab"
							data-bs-toggle="tab" data-bs-target="#home-justified"
							type="button" role="tab" aria-controls="home"
							aria-selected="true">수동 발주</button>
					</li>
					<li class="nav-item flex-fill" role="presentation">
						<button class="nav-link w-100" id="profile-tab"
							data-bs-toggle="tab" data-bs-target="#profile-justified"
							type="button" role="tab" aria-controls="profile"
							aria-selected="false">자동 발주</button>
					</li>
				</ul>
				<div class="tab-content pt-2" id="myTabjustifiedContent">
					<div class="tab-pane fade show active" id="home-justified"
						role="tabpanel" aria-labelledby="home-tab"></div>
					<div class="tab-pane fade" id="profile-justified" role="tabpanel"
						aria-labelledby="profile-tab">

						<h9> <input type="radio" class="form-check-input"
							name="option" value="counts" /> <span> <span
							style="color: red;">[동의]</span> 자동 발주 설정을 하면, 재고가 적정 재고 이하로 감소할 때
							자동으로 발주가 신청됩니다. <br> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
							&nbsp 동의하신다면, 동의 버튼을 눌러주세요.
						</span>
					</div>
					</h9>

				</div>
			</div>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body" style="margin-top: 10px">
							<div style="text-align: right; margin: 0 0 10px 0;">
								<button type="button" class="btn btn-primary" id="save">자동
									발주 저장</button>
								<button type="submit" class="btn btn-primary" id="orderbtn">발주
									신청</button>
								<button type="button" class="btn btn-primary" id="cancel"
									onclick="delMater()">선택 재료 삭제</button>
								<button type="button" class="btn btn-primary" id="cancel"
									onclick="location.href='shopStock'">발주 취소</button>
							</div>
							<table class="col-lg-12" style="text-align: center">
								<thead>
									<tr>
										<th>발주건명</th>
										<td colspan='8'><input type="text" id="orderName"
											name="orderName" style="width: 99.2%; margin: 3px"
											class="form-control"></td>
									</tr>
									<tr>
										<th>발주일자</th>
										<td colspan='8'><input type="text" class="form-control"
											th:value="					
											${#dates.format(selectOrderCart[0].today,'yyyy/MM/dd')}"
											disabled="" style="width: 99.2%; margin: 3px"
											th:if="${selectOrderCart.size()!= 0}"></td>
									</tr>
									<tr>
										<th>발신 업체 이름</th>
										<td colspan='3'><input type="text"
											th:value="${selectOrderCart[0].storeName}" id="storeNumber"
											class="form-control" disabled=""
											style="width: 98.7%; margin: 3px"
											th:if="${selectOrderCart.size()!= 0}"></td>

										<th>수신 업체 이름</th>
										<td colspan='4'><input type="text" class="form-control"
											value="디버거" disabled="" style="width: 98%; margin: 3px"></td>
									</tr>
									<tr>
										<th rowspan="2">연락처</th>
										<th>전화번호</th>
										<td colspan='2'><input type="text" class="form-control"
											th:value="${selectOrderCart[0].phone}" disabled=""
											style="width: 98%; margin: 3px"
											th:if="${selectOrderCart.size()!= 0}"></td>

										<th rowspan="2">연락처</th>
										<th>전화번호</th>
										<td colspan='3'><input type="text" class="form-control"
											value="053-0000-0000" disabled=""
											style="width: 98%; margin: 3px"></td>

									</tr>
									<tr>
										<th>이메일</th>
										<td colspan='2'><input type="text" class="form-control"
											th:value="${selectOrderCart[0].email}" disabled=""
											style="width: 98%; margin: 3px"
											th:if="${selectOrderCart.size()!= 0}"></td>
										<th>이메일</th>
										<td colspan='3'><input type="text" class="form-control"
											value="info@deburger.com" disabled=""
											style="width: 98%; margin: 3px"></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>합계금액</th>
										<td style="text-align: center" colspan='8'>일금 <input
											type="text"
											style="width: 200px; margin: 3px; padding: 5.6px; border-radius: 7px; border-width: 1px"
											disabled="" id="korSum" readonly /> 원정( <input type="text"
											style="width: 200px; margin: 3px; padding: 5.6px; border-radius: 7px; border-width: 1px"
											disabled="" id="allSum" readonly /> )세액포함
										</td>
									</tr>
									<tr>
										<th class="col-lg-1"><input type="checkbox"
											name="allOrder" id="allOrder"></th>
										<th class="col-lg-1">No.</th>
										<th class="col-lg-1">품명</th>
										<th class="col-lg-1">규격</th>
										<th class="col-lg-1">수량</th>
										<th class="col-lg-1">단가</th>
										<th class="col-lg-1">공급 가액</th>
										<th class="col-lg-1">세액</th>
										<th class="col-lg-1">합계금액</th>
									</tr>
									<th:block th:each="list,index:${selectOrderCart}">
										<tr>
											<td style="display: none;"><input type="text"
												th:value="${list.materialNumber}" /></td>
											<td><input type="checkbox" name="checkOrder"
												class="checkOrder" /></td>
											<td th:text=${index.index+1} />
											<td th:text="${list.materialName}" id="matname" />
											<td th:text="${list.unit}" />
											<td><input type="number" min="1"
												th:value="${list.count}" id="count" name="count"
												style="width: 200px; margin: 3px; padding: 5px; border-radius: 7px; border-width: 1px; border-color: gray"></td>
											<td th:text="${list.saleUnitprice}" id="oprice" />
											<td th:text="${list.saleUnitprice*list.count}" id="price"></td>
											<td th:text="${list.saleUnitprice*list.count/10}"
												id="texprice"></td>
											<td
												th:text="${list.saleUnitprice*list.count}+${list.saleUnitprice*list.count/10}"
												id="allprice" class="allprice"></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script>
	let num = 0;
	
	
	
	$('#orderbtn').on('click',function(){
		num = 1;
		makeData()
	})
	
	$('#save').on('click',function(){
		num = 2;
		if($("[name='option']:checked").length == 0){

			
			Swal.fire({
                title: '자동주문을 선택해주세요.',
                text: "",
                icon: 'warning',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인'
                })
			
			return;
		}else {
			
			makeData();
		}
	})
//----------------------------------------------------------
	function delMater(){
		if($("[name='checkOrder']:checked").length == 0){
			Swal.fire({
                title: '삭제 예정 재료를 선택해주세요. ',
                text: "",
                icon: 'warning',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인'
                })
			return;
		}
		
		let list = [];
				
		$("[name='checkOrder']:checked").each(function(i,checkbox){
			let tr = $(checkbox).closest('tr').children();	
			let materialNumber = tr.eq(0).find('input').val();
			list.push({materialNumber})
		})		
		
		
		
		$.ajax({
			url : "delMater",
			method : "POST",
			contentType:"application/json",
			data : JSON.stringify(list),
			
		}).then((end) => {
			location.href="ShopOrderList"
		})
		
	}
	//-------------------
	allOrder.addEventListener('click', function(){
			const isChecked = allOrder.checked;
			
			 if(isChecked){
			        const checkboxes = document.querySelectorAll('.checkOrder');

			        for(const checkbox of checkboxes){
			            checkbox.checked = true;
			        }
			    }

			    else{
			        const checkboxes = document.querySelectorAll('.checkOrder');
			        for(const checkbox of checkboxes){
			            checkbox.checked = false;
			        }
			    }
			 Calculator()
		})
	
		
		function makeData(){
		if($("[name='checkOrder']:checked").length == 0){
			Swal.fire({
                title: '주문재료를 선택해주세요. ',
                text: "",
                icon: 'warning',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '승인'
                })
			return;
		}
			let list = {};
			let detList = [];
			let cartList = [];
			
			//발주
			
			

			
			let storeNumber = $('#storeNumber').html();
			let autoOrderOperation ='';
			let note = '';
			if(num == 1 ){
				autoOrderOperation = 'i1';				
			}else {
				let value = $("input:radio[name=option]:checked").val();
				if(value == 'counts'){
					autoOrderOperation = 'i2';
					note = $('#countNumber').val();
				}
				
			}
			let cancelOperation = 'J1';
			let oderApp = 'L1';
			let allprice = $('#allSum').get(0).value;
				
			
			
			
			
			let orderName = '';
			if( $('#orderName').get(0).value == ''){
				if($("[name='checkOrder']:checked").length == 1){
					orderName = $('#matname').html();
				}else{
					orderName = $('#matname').html() + " 외"+ $("[name='checkOrder']:checked").length +'건'
				}
			}else {
				orderName = $('#orderName').get(0).value
			}
			
			
			
			$("[name='checkOrder']:checked").each(function(i,checkbox){
				let tr = $(checkbox).closest('tr').children();
				
				
				
				//상세 발주
				
				let count = tr.eq(5).find('input').val();
				let materialNumber = tr.eq(0).find('input').val();
				
				detList.push({materialNumber,count});
				
				//장바구니 삭제
				cartList.push({storeNumber,materialNumber});
				
			})
			
			list= {note,oderApp,allprice,orderName,storeNumber,autoOrderOperation,cancelOperation,detList,cartList};

			
			Swal.fire({
                title: '발주 신청하시겠습니까?',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '승인',
                cancelButtonText: '취소'
                })
                .then((result)=>{
                	if(result.isConfirmed){
                		Swal.fire({
                            title: '발주가 완료되었습니다.',
                            icon: 'success',
                          })
            						$.ajax({
							url : "insertShopOrder",
							method : "POST",
							contentType:"application/JSON",
							data : JSON.stringify(list),
							
						}).then((end) => {
							location.href="ShopOrderList"
						})
                	}
                })
			
			

			
		}
		
		
	
		$("input").on("change", function(event) {
			
			let tr = $(event.target).closest('tr');

			
			tr.find('#price').get(0).innerHTML = Number(tr.find('#oprice').text())*tr.find('#count').val();
			tr.find('#texprice').get(0).innerHTML = Number(tr.find('#price').text()/10);
			tr.find('#allprice').get(0).innerHTML = Number(tr.find('#price').text())+Number(tr.find('#texprice').text());
			
			Calculator()

		});
		
		function Calculator(){
			let sum = 0;
			
/* 			  $('.allprice').each(function(index,item){
				  sum += Number(item.innerHTML);
			
			  }); */
			  
				$("[name='checkOrder']:checked").each(function(i,checkbox){
					let tr = $(checkbox).closest('tr').children();
					sum += Number(tr.eq(9).html());
					
					
				})
			  
			  
			  
			  
			  $('#allSum').val(sum);
			  $('#korSum').val(geKoreanNumber(sum));
			 
		}
		
		function geKoreanNumber(number) {
			  const koreanNumber = ['', '일', '이', '삼', '사', '오', '육', '칠', '팔', '구'];
			  const tenUnit = ['', '십', '백', '천'];
			  const tenThousandUnit = ['조', '억', '만', ''];
			  const unit = 10000;

			  let answer = '';

			  while (number > 0) {
			    const mod = number % unit;
			    const modToArray = mod.toString().split('');
			    const length = modToArray.length - 1;

			     const modToKorean = modToArray.reduce((acc, value, index) => {
			      const valueToNumber = +value;
			      if (!valueToNumber) return acc;

			      const numberToKorean = index < length && valueToNumber === 1 ? '' : koreanNumber[valueToNumber];
			      return `${acc}${numberToKorean}${tenUnit[length - index]}`;
			    }, '');

			    answer = `${modToKorean}${tenThousandUnit.pop()} ${answer}`;
			    number = Math.floor(number / unit);
			  }

			  return answer.replace();
			}
		
	</script>
</body>
</html>
