<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}" layout:fragment="Content">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>s

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>QSC 체크리스트</h1>
			<br>
			<p>*본사 담당자가 매장을 방문하여 QSC점검 시 참고 자료로 활용 됩니다.</p>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12" style="text-align: center;">
					<form>
						<div class="row mb-3">
							<div class="col-sm-10 col-md-3">
								<input type="text" class="form-control" th:value="${id}" disabled>
							</div>

							<div class="col-sm-10 col-md-3">
								<button type="button" class="btn btn-primary col-md-12" id="insertBtn">제출하기</button>
							</div>
						</div>




						<div class="card">
							<div class="card-body"><br>
							
							<div class="card">
              <div class="card-body">
                <!-- Default Tabs -->
                <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                  <li class="nav-item flex-fill" role="presentation">
                    <button
                      class="nav-link w-100 active"
                      id="home-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#home-justified"
                      type="button"
                      role="tab"
                      aria-controls="home"
                      aria-selected="true"
                      onclick="grid1.refreshLayout()"
                    >
                      Quality(품질)
                    </button>
                  </li>
                  <li class="nav-item flex-fill" role="presentation">
                    <button
                      class="nav-link w-100"
                      id="profile-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-justified"
                      type="button"
                      role="tab"
                      aria-controls="profile"
                      aria-selected="false"
                      onclick="grid2.refreshLayout()"
                    >
                      Service(서비스)
                    </button>
                  </li>
                  <li class="nav-item flex-fill" role="presentation">
                    <button
                      class="nav-link w-100"
                      id="contact-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#contact-justified"
                      type="button"
                      role="tab"
                      aria-controls="contact"
                      aria-selected="false"
                      onclick="grid3.refreshLayout()"
                    >
                      Cleanliness(청결)
                    </button>
                  </li>
                </ul>

                <div class="tab-content pt-2" id="myTabjustifiedContent">
                  <div class="tab-pane fade show active" id="home-justified" role="tabpanel" aria-labelledby="home-tab">
                    
                    <!-- grid1 -->
                    <div id="grid1"></div>
                  </div>

                  <div class="tab-pane fade" id="profile-justified" role="tabpanel" aria-labelledby="profile-tab">
                    
                    <!-- grid2 -->
                    <div id="grid2"></div>
                  </div>

                  <div class="tab-pane fade" id="contact-justified" role="tabpanel" aria-labelledby="contact-tab">
                    
                    <!-- grid3 -->
                    <div id="grid3"></div>
                  </div>
                  <!-- End Bordered Tabs Justified -->
                  

							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
		
		
	</main>
	<script th:inline="javascript">
	let grid1;
    let grid2;
    let grid3;

    var detaList = [[${QscList}]];
    let QualityData = [];
    let ServiceData = [];
    let CleanlinessData = [];


    detaList.forEach(function(ele){
      if(ele.category.substring(0, 1) == 'Q'){
        QualityData.push(ele);
      }else if(ele.category.substring(0, 1) == 'S'){
        ServiceData.push(ele)
      }if(ele.category.substring(0, 1) == 'C'){
        CleanlinessData.push(ele)
      }
    });


    let options1 = [
      { text: '패티 관리', value: 'Q1' },
      { text: '재조 매뉴얼 준수', value: 'Q2' },
      { text: '주류/음료', value: 'Q3' },
      { text: '식자제 관리', value: 'Q4' },
    ];

    let options2 = [
      { text: '단정', value: 'S1' },
      { text: '준비', value: 'S2' },
      { text: '영업/대기', value: 'S3' },
      { text: '홀 서비스', value: 'S4' },
      { text: '기타', value: 'S5' },
    ];

    let options3 = [
      { text: '매장 내부', value: 'C1' },
      { text: '매장 외부', value: 'C2' },
      { text: '화장실', value: 'C3' },
      { text: '주방', value: 'C4' },
      { text: '홀 기기', value: 'C5' },
      { text: '위생', value: 'C6' },
    ];

    $(document).ready(async () => {
      // 2. HTML이 수행된 뒤 함수를 호출한다.
      grid1 = await gridLoad(options1, 'grid1', QualityData);
      grid2 = await gridLoad(options2, 'grid2', ServiceData);
      grid3 = await gridLoad(options3, 'grid3', CleanlinessData);
    });

    /**
     *
     * @return void
     */
    const gridLoad = (optionsList, gridname, datas) => {
        // 3. 그리드 생성
        const Grid = tui.Grid;

        /**
         * [선택] 그리드 테마 적용하기 (clean, stripe, default)
         *
         * @reference https://nhn.github.io/tui.grid/latest/tutorial-example07-themes
         * @reference https://seokbong.tistory.com/14
         */
        Grid.applyTheme('stripe');

        /**
         * [선택] Grid Confirm 메시지
         */
        Grid.setLanguage('en'); // set Korean
        const grid = new Grid({
          // ================================== 공통 옵션 적용 ==============================
          el: document.getElementById(gridname), // [필수] Container element
          data: datas, // [선택] 그리드 데이터 조회

          /**
           * [선택] 순번 기능
           * @reference : http://nhn.github.io/tui.grid/latest/tutorial-example11-row-headers
           */
           rowHeaders: ['rowNum'],

           pageOptions: {
               useClient: true,
               perPage: 10
             },

          // ================================== 컬럼 옵션 적용 ==============================
          columns: [
        	  
        	// [Column-5] 사용자 취미
        	{
                header: '항목', // [필수] 컬럼 이름
                name: 'qscNumber', // [필수] 컬럼 매핑 이름 값
                hidden: true,      
              },
              {
                header: '항목', // [필수] 컬럼 이름
                name: 'list', // [필수] 컬럼 매핑 이름 값
                align: 'center', // [선택] 텍스트 정렬 옵션
                sortable: true, // [선택] 컬럼의 정렬 여부
                resizable: true, // [선택] 컬럼의 리사이즈 여부 옵션
                rowSpan : true,
                formatter: 'listItemText', // [선택] 값을 기반으로 select box 옵션
                
                // [Option] select 옵션
                editor: {
                  type: 'select',
                  options: {
                    listItems: optionsList,
                  },
                },
              },
            // [Column-2] 사용자 이름
            {
              header: '상세 항목', // [필수] 컬럼 이름
              name: 'content', // [필수] 컬럼 매핑 이름 값
              sortable: true, // [선택] 컬럼의 정렬 여부
              resizable: true, // [선택] 컬럼의 리사이즈 여부 옵션
              editor: 'text', // [선택] 수정 옵션  
              width: 800,
              align: 'left', // [선택] 텍스트 정렬 옵션
            },

            // [Column-4] 사용자 나이
            {
              header: '평가', // [필수] 컬럼 이름
              name: 'score', // [필수] 컬럼 매핑 이름 값
              sortable: true, // [선택] 컬럼의 정렬 여부
              resizable: true, // [선택] 컬럼의 리사이즈 여부 옵션
              editor: {
                  type: 'radio',
                  options: {
                    listItems: [
                      { text: '1점', value: 1 },
                      { text: '2점', value: 2 },
                      { text: '3점', value: 3 },
                    ]
                  }
                },
              align: 'center', // [선택] 텍스트 정렬 옵션
            },
          ],
          summary: {
              height: 40,
              position: 'bottom', // or 'top'
              columnContent: {
            	  score : {
                  template: function(valueMap) {
                    return `총점: ${Math.round(((valueMap.sum -1)/((valueMap.cnt * 3) -1)*100))} 점`;
                  }
                }
              }
          }
        });

        //  그리드 추가

        return grid;
      };
      
      const insertBtn = document.getElementById('insertBtn');
      
      insertBtn.addEventListener('click', () => {
    	  
    	  Swal.fire({
              title: '정말로 제출 하시겠습니까?',
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: '승인',
              cancelButtonText: '취소'
              })
              .then((result) => {
                  if (result.isConfirmed) {
                	  
                	  let qscDataList = [...grid1.getData(), ...grid2.getData(), ...grid3.getData()]
                      
                      
           		   let scores = {qualityScore: ((grid1.getSummaryValues('score')
                   		   .sum -1)/((grid1.getSummaryValues('score')
                   				   .cnt * 3) -1)*100),
                   				   cleanlScore :((grid2.getSummaryValues('score')
                   		        		   .sum -1)/((grid2.getSummaryValues('score')
                   		        				   .cnt * 3) -1)*100),
                   		        				   serviceScore:  ((grid3.getSummaryValues('score')
                   		        		        		   .sum -1)/((grid3.getSummaryValues('score')
                   		        		        				   .cnt * 3) -1)*100)} ;
                      $.ajax({
                          url: "/deburger/qscListInfoShop",
                          method: "post",
                          contentType:"application/json",
                          data  : JSON.stringify({"qscDataList" : qscDataList, "scores": scores}),
                          
                          
                       })
                       .then((result) =>{
                    	   
                    	   Swal.fire({
                               title: `제출 완료되었습니다.`,
                               icon: 'success',
                             })
                    	   
                         let url = 'qscListShop'
                          location.replace(url);
                       }) 
                	  
                	  
                  }else{
                	  Swal.fire(
                              {
                              title: '제출 취소!',
                              icon: 'error',
                            })
                  }
                  })
    	  
          
           

          
      });
     
    </script>
	

</body>