<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.section {
    min-height: 600px;
}
</style>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>QSC 결과 조회</h1>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<form>
						<div class="row mb-3">
							<div class="col-sm-10 col-md-3">
								<input type="text" class="form-control" th:value="${id}"
									disabled>
							</div>
							<div class="col-sm-10 col-md-3">
								<input type="date" class="form-control">
							</div>
							<div class="col-sm-10 col-md-3">
								<button type="button" class="btn btn-primary"
									th:onclick="|location.href='@{qscListInfoShop}'|">작성하기</button>
							</div>
						</div>
					</form>


					<div class="card">
						<div class="card-body">
							<h5 class="card-title"></h5>
							<div id="grid"></div>


						</div>
					</div>
				</div>
			</div>
		</section>



	</main>
	<script th:inline="javascript">
      let grid;
      var detaList = [[${QscList}]];

      $(document).ready(async () => {
        // 2. HTML이 수행된 뒤 함수를 호출한다.
        grid = await gridLoad();
        
      
      });

      /**
       *
       * @return void
       */
      const gridLoad = () => {
        // 3. 그리드 생성
        const Grid = tui.Grid;

        /**
         * [선택] 그리드 테마 적용하기 (clean, stripe, default)
         *
         * @reference https://nhn.github.io/tui.grid/latest/tutorial-example07-themes
         * @reference https://seokbong.tistory.com/14
         */
        Grid.applyTheme('stripe');

        /**
         * [선택] Grid Confirm 메시지
         */
         
         
        Grid.setLanguage('en'); // set Korean
        const grid = new Grid({
          // ================================== 공통 옵션 적용 ==============================
          el: document.getElementById('grid'), // [필수] Container element
          data: detaList, // [선택] 그리드 데이터 조회

          /**
           * [선택] 순번 기능
           * @reference : http://nhn.github.io/tui.grid/latest/tutorial-example11-row-headers
           */
          rowHeaders: ['rowNum'],
          
			// 패이징			
          pageOptions: {
        	  useClient: true,
            perPage: 10,
          },

          // ================================== 컬럼 옵션 적용 ==============================
        	  
          columns: [
        	  
        	  {
                  header: '체크리스트 번호', // [필수] 컬럼 이름
                  name: 'checklistNumber', // [필수] 컬럼 매핑 이름 값
                  hidden: true,      
                },
        	  // [Column-2] 일련번호
              {
                header: '지점명', // [필수] 컬럼 이름
                name: 'storeName', // [필수] 컬럼 매핑 이름 값
                sortable: true, // [선택] 컬럼의 정렬 여부
                resizable: true, // [선택] 컬럼의 리사이즈 여부 옵션
                align: 'center', // [선택] 텍스트 정렬 옵션
                
              },
            // [Column-2] 검수일자
            {
              header: '검수일자', // [필수] 컬럼 이름
              name: 'qscDate', // [필수] 컬럼 매핑 이름 값
              sortable: true, // [선택] 컬럼의 정렬 여부
              resizable: true, // [선택] 컬럼의 리사이즈 여부 옵션
              align: 'center', // [선택] 텍스트 정렬 옵션
              
            },
            // [Column-2] 품질 
            {
              header: '품질', // [필수] 컬럼 이름
              name: 'qualityScore', // [필수] 컬럼 매핑 이름 값
              sortable: true, // [선택] 컬럼의 정렬 여부
              resizable: true, // [선택] 컬럼의 리사이즈 여부 옵션
              align: 'center', // [선택] 텍스트 정렬 옵션
            },

            // [Column-4] 서비스
            {
              header: '서비스', // [필수] 컬럼 이름
              name: 'serviceScore', // [필수] 컬럼 매핑 이름 값
              sortable: true, // [선택] 컬럼의 정렬 여부
              resizable: true, // [선택] 컬럼의 리사이즈 여부 옵션
              align: 'center', // [선택] 텍스트 정렬 옵션
            },

            // [Column-4] 청결
            {
              header: '청결', // [필수] 컬럼 이름
              name: 'cleanlScore', // [필수] 컬럼 매핑 이름 값
              sortable: true, // [선택] 컬럼의 정렬 여부
              resizable: true, // [선택] 컬럼의 리사이즈 여부 옵션
              align: 'center', // [선택] 텍스트 정렬 옵션
            },
            // [Column-4] 총점
            {
              header: '평균', // [필수] 컬럼 이름
              name: 'score', // [필수] 컬럼 매핑 이름 값
              sortable: true, // [선택] 컬럼의 정렬 여부
              resizable: true, // [선택] 컬럼의 리사이즈 여부 옵션
              align: 'center', // [선택] 텍스트 정렬 옵션
            },
          ],
          
        });

        //  그리드 추가

        
      	grid.on('dblclick', (ev) => {
           	let url ='qscListInfoDetail?checklistNumber=' + grid.getData()[ev.rowKey].checklistNumber;
       location.href = url;
           	})
      	
        return grid;
      };

    	
    	

    </script>
</body>