<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/layout}" layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>QSC 항목 관리</h1>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<form>
						<div class="row mb-3">
							<div class="col-sm-10 col-md-3">
								<input type="text" class="form-control" value="디버거 감삼점">
							</div>
							<div class="col-sm-10 col-md-3">
								<input type="date" class="form-control">
							</div>
							<div class="col-sm-10 col-md-3">
								<button type="button" class="btn btn-primary">작성하기</button>
							</div>
						</div>
					</form>


					<div class="card">
						<div class="card-body">
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col"><b>일련번호</b></th>
										<th scope="col">검수일자</th>
										<th scope="col">검수자</th>
										<th scope="col">처리상태</th>
										<th scope="col">품질</th>
										<th scope="col">서비스</th>
										<th scope="col">청결</th>
										<th scope="col">총점</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td scope="row">QAC-0001</td>
										<td>2023-05-08 오후 04:30:30</td>
										<td>김지수</td>
										<td>검수중</td>
										<td>80&#47;100</td>
										<td>80&#47;100</td>
										<td>80&#47;100</td>
										<td>240&#47;300</td>
									</tr>
								</tbody>
							</table>
							<!-- Pagination with icons -->
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-center">
									<li class="page-item"><a class="page-link" href="#"
										aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#"
										aria-label="Next"> <span aria-hidden="true">&raquo;</span>
									</a></li>
								</ul>
							</nav>
							<!-- End Pagination with icons -->

						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

</body>