<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>입고 상세 관리</title>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>입고 관리</h1>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<!-- Table with stripped rows -->
							<table class="table">
								<thead>
									<div style="text-align: left; margin-left: 90%;">
										<button type="button" class="btn btn-primary" onclick="makeData()">저장</button>
										<button type="button" class="btn btn-primary">취소</button>
									</div>
								</thead>
								<tbody>
									<tr>
										<th>주문 번호</th>
										<th>주문 일자</th>
									<tr>
										<th th:text="${storeIninfoList[0].orderNumber}" id="orderNumber"></th>
										<th>[[${#dates.format(storeIninfoList[0].orderDay,'yyyy/MM/dd')}]]</th>
									</tr>
								</tbody>
							</table>
							<!-- <table class="table datatable"> -->
							<table class="table ">
								<thead>
									<tr>
										<th>상세 주문 번호</th>
										<th>재료 이름</th>
										<th>수량</th>
										<th>입고 수량</th>
										<th>제조 일자</th>
										<th>유통 기한</th>
										<th>소비 기한</th>
										<th>이미지</th>
										<th>입고 여부</th>
										<th>비고</th>
									</tr>
								</thead>
								<tbody id="GetList">
									<th:block th:each="list:${storeIninfoList}">
										<tr>
											<td th:text="${list.materialNumber}" style="display: none;"/>
											<td th:text="${list.orderDetailsNumber}" />
											<td th:text="${list.materialName}" />
											<td th:text="${list.count}" id="count"/>
											<td class="col-sm-1"><input type="number" min="0"
												th:max="${list.count}" th:value="${list.count}"
												style="border: none;"></td>
											<td th:text="${list.manufactureDay}" />
											<td th:text="${list.expirationLimit}" />
											<td th:text="${list.consumptionLimit}" />
											<td class="col-sm-2">
												<div>
													<input class="form-control" type="file"
														id="contractImageFile" name="contractImageFile" />
												</div>
											</td>
											<td class="col-sm-2">입고</td>
											<td><input type="text" style="border: none;"></td>


										</tr>
									</th:block>
								</tbody>
							</table>

						</div>
					</div>

				</div>
			</div>
		</section>
	</main>
	<script>
	
	function makeData(){
		var form = new formData();;
		
		$('#GetList > tr').each(function(i,checkbox){
			let tr = $(checkbox).closest('tr').children()
			
			let note = tr.find('input').val();
			let manufactureDay = tr.eq(5).html();
			let remainStockCount = tr.find('input').val();
			let consumptionLimit = tr.eq(7).html();
			let expirationLimit = tr.eq(6).html();
			
			let orderDetailsNumber = $('#orderNumber').html();
			
			let inOperation ='';
			if(tr.eq(9).html() == '입고'){
				inOperation = 'F2'
			}else if(tr.eq(9).html() == '부분 입고'){
				inOperation = 'F1'
			}else if(tr.eq(9).html() == '폐기'){
				inOperation = 'F0'
			}
			
			let count = tr.find('input').val();
			let materialNumber = tr.eq(0).html();
			
			 form.append()
			
		})
		
		
		console.log(list);
	}
		
	$("input").on("change", function(event){

		let incount = $(event.target).closest('tr').find('input').val()
		let ordercount =$(event.target).closest('tr').children().eq(3).html()
		
		
		if((ordercount - incount) == 0){
			$(event.target).closest('tr').children().eq(9).html("입고")
		}else if(incount == 0){
			$(event.target).closest('tr').children().eq(9).html("입고 거부")
		}else if(ordercount - incount > 0){
			$(event.target).closest('tr').children().eq(9).html("부분 입고")
		} 
	});
	
	
	</script>
</body>

</html>