t
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/shop_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>입고 여부</title>
<style>
.section {
    min-height: 600px;
}
</style>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>입고 관리</h1>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"></h5>
							<table class="table ">
								<thead>
									<tr>
										<th data-type="date" data-format="YYYY/DD/MM">주문 날짜</th>
										<th>주문 번호</th>
										<th>입고 이름</th>
										<th>입고 여부</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="list:${viewAll}">
										<tr>
											<td th:text="${#dates.format(list.orderDay,'yyyy/MM/dd')}" />
											<td th:text="${list.orderNumber}" />
											<td th:text="${list.orderName}" />
											<td><span
												th:if="${list.inOperation == null and list.oderApp == 'L3'}"><button
														type="button" class="btn btn-primary btn-sm"
														onclick="infobtn()" th:id="${list.orderNumber}">입고</button>

											</span></td>
										</tr>
									</th:block>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->

						</div>
					</div>
					<div style="display: block; text-align: center;" id="pagelist"
						th:if="${paging.total == 0}">
						<span>발주 내역이 없습니다.</span>
					</div>
					<div style="display: block; text-align: center;" id="pagelist"
						th:if="${paging.total >0}">
						<nav aria-label="Page navigation">
							<ul class="pagination justify-content-center">
								<!-- Previous button -->
								<li class="page-item"
									th:classappend="${paging.startPage == 1} ? 'disabled'"><a
									class="page-link"
									th:href="@{/storeInList(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}"
									aria-disabled="true">&lt;</a></li>
								<!-- Page numbers -->
								<li class="page-item"
									th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}"
									th:classappend="${p == paging.nowPage} ? 'active'"><span
									th:if="${p == paging.nowPage}"> <a class="page-link"
										th:text="${p}"></a>
								</span> <span th:if="${p != paging.nowPage}"> <a
										class="page-link"
										th:href="@{/storeInList(nowPage=${p}, cntPerPage=${paging.cntPerPage})}"
										th:text="${p}"></a>
								</span></li>
								<!-- Next button -->
								<li class="page-item"
									th:classappend="${paging.endPage == paging.lastPage} ? 'disabled'">
									<a class="page-link"
									th:href="@{/storeInList(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script>
		function infobtn() {
			let url = 'storeIninfoList?orderNumber=' + event.target.id
			location.href = url;

		}
	</script>
</body>
</html>