<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.deburger.app.shop.StoreMatCon.mapper.StoreMatConMapper">

	<select id="StoreMaterialList" resultType="StoreMatConVO">
		select
		material_number
		,material_name
		,material_item
		,material_classification
		from material

	</select>

	<select id="StoreMaterialoneList" resultType="StoreMatConVO">
		with b as (
		SELECT TO_CHAR(TRUNC(#{productDate}, 'MM') + LEVEL -
		1,'yy-MM-dd') AS dt
		FROM dual
		CONNECT BY LEVEL  <![CDATA[<=]]>
		LAST_DAY(#{productDate})- TRUNC(#{productDate}, 'MM') + 1
		)
		, a as (
		SELECT TO_CHAR(product_date, 'yy-MM-dd') AS dt
		,sum(amountcon) amountcon
		,operation
		FROM store_Material_consumption
		WHERE product_date BETWEEN
		TRUNC(#{productDate}, 'MM') AND
		LAST_DAY(#{productDate})
		AND
		store_NUMBEr = #{storeNumber}
		AND material_number = #{materialNumber}
		GROUP BY TO_CHAR(product_date, 'yy-MM-dd') ,operation
		)
		SELECT b.dt
		, a.amountcon
		, a.operation
		FROM a full outer join b
		on a.dt =
		b.dt
		ORDER BY b.dt
	</select>

	<select id="stockClassificationMa" resultType="StoreMatConVO">
		select DISTINCT material_classification
		from material
	</select>

	<select id="classificationListMa" resultType="StoreMatConVO">
		select
		material_number
		,material_name
		,material_item
		,material_classification
		from material
		where material_classification = #{materialClassification}
	</select>

</mapper>