<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <main id="main" class="main">
    <div class="pagetitle">
      <h1>제품 페이지 입니당</h1>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p>제품 관리</p>
                <div class="row mb-3">
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>전체</option>
                      <option value="1">버거</option>
                      <option value="2">세트</option>
                      <option value="3">음료</option>
                    </select>
                  </div>
                </div>
            </div>
          </div>
        </div>        
      </div>
	    <div>
	    	<table>
		    	<thead>
		    		<tr>
			    		<th>이름</th>			
		    		</tr>
		    	</thead>
		    	<tbody>
		    		<th:block th:each="lists:${products}">
		    			<tr>
		    				<td th:text="${lists.productName}"></td>
		    			</tr>
		    		</th:block>
		    	</tbody>
	    	</table>
	    </div>
    </section>
    </main>
</body>
<script>
	
</script>
</html>