<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/layout}" layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>가맹점 메인페이지</title>

<style>
</style>

</head>
<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h5></h5>
		</div>
		<section class="section dashboard">
			<div class="row">
				<!-- Left side columns -->
				<div class="col-lg-12">
					<div class="row">

						<!-- 공지사항 시작 -->
						<div class="col-md-12">
							<div class="card info-card sales-card">
								<div class="shopMainNoticeCard">
									<div class="d-flex bd-highlight mainHomeNotice">
										<h5 class="p-2 flex-fill bd-highlight notice">
											<a href="noticeListShop" class="officeMainHref">공지사항</a>
										</h5>
										<h6 class="p-2 flex-fill bd-highlight">[[
											${notices[0].title} ]]</h6>
										<h5 class="p-2 flex-fill bd-highlight text-secondary">[[${#dates.format(notices[0].writerDate,
											'yyyy-MM-dd')}]]</h5>
									</div>
								</div>
							</div>
						</div>
						<!-- 공지사항 끝 -->

						<!-- 입고 대기 건수 시작 (권한3) -->
						<div class="col-md-4"
							th:onclick="|location.href='@{containerIn}'|"
							sec:authorize="hasAnyRole('ROLE_3')">
							<div class="card info-card sales-card">
								<div class="card-body">
									<h5 class="card-title">입고 대기 건수</h5>
									<div class="d-flex align-items-center">
										<div
											class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="fa-solid fa-right-to-bracket"></i>
										</div>
										<div class="ps-3">
											<h6 id="salesCnt2">[[${countIn}]] 건</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 입고 대기 건수 끝 (권한3) -->

						<!-- 입고 대기 건수 시작 (권한 1,2) -->
						<div class="col-md-4"
							sec:authorize="hasAnyRole('ROLE_1','ROLE_2')">
							<div class="card info-card sales-card">
								<div class="card-body">
									<h5 class="card-title">입고 대기 건수</h5>
									<div class="d-flex align-items-center">
										<div
											class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="fa-solid fa-right-to-bracket"></i>
										</div>
										<div class="ps-3">
											<h6 id="salesCnt2">0 건</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 입고 대기 건수 끝 (권한 1,2) -->




						<!-- 출고 대기 건수 시작 (권한 3) -->
						<div class="col-md-4"
							th:onclick="|location.href='@{containerOut}'|"
							sec:authorize="hasAnyRole('ROLE_3')">
							<div class="card info-card revenue-card">
								<div class="card-body">
									<h5 class="card-title">출고 대기 건수</h5>
									<div class="d-flex align-items-center">
										<div
											class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="fa-solid fa-right-from-bracket"></i>
										</div>
										<div class="ps-3">
											<h6 id="salesPri2">[[${countOut}]] 건</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 출고 대기 건수 끝 (권한 3) -->


						<!-- 출고 대기 건수 시작 (권한 1,2) -->
						<div class="col-md-4"
							sec:authorize="hasAnyRole('ROLE_1','ROLE_2')">
							<div class="card info-card revenue-card">
								<div class="card-body">
									<h5 class="card-title">출고 대기 건수</h5>
									<div class="d-flex align-items-center">
										<div
											class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="fa-solid fa-right-from-bracket"></i>
										</div>
										<div class="ps-3">
											<h6 id="salesPri2">0 건</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 출고 대기 건수 끝 (권한 1,2) -->



						<!-- 발주 대기 건수 시작 (권한 1,2) -->
						<div class="col-md-4"
							sec:authorize="hasAnyRole('ROLE_1','ROLE_2')"
							th:onclick="|location.href='@{logisticInfo(logisticsId=${logisticsId})}'|">
							<div class="card info-card customers-card">
								<div class="card-body">
									<h5 class="card-title">발주 대기 건수</h5>
									<div class="d-flex align-items-center">
										<div
											class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="fa-solid fa-truck-fast"></i>
										</div>
										<div class="ps-3">
											<h6 id="salesPro2">[[${countOrder}]] 건</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 발주 대기 건수 끝 (권한 1,2) -->


						<!-- 발주 대기 건수 시작 (권한 3) -->
						<div class="col-md-4" sec:authorize="hasAnyRole('ROLE_3')">
							<div class="card info-card customers-card">
								<div class="card-body">
									<h5 class="card-title">발주 대기 건수</h5>

									<div class="d-flex align-items-center">
										<div
											class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="fa-solid fa-truck-fast"></i>
										</div>
										<div class="ps-3">
											<h6 id="salesPro2">0 건</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 발주 대기 건수 끝 (권한 3) -->



						<!-- 월별 통계 시작 (선형차트) -->
						<div class="col-12">
							<div class="card graph-card">
								<div class="card-body">
									<h5 class="card-title">월별 통계</h5>
									<div class="chart-container"
										style="position: relative; height: 40vh;">
										<canvas id="myChart"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!-- 월별 통계 끝 (선형차트) -->



						<!-- 메뉴별 판매현황 시작 (원형차트) -->
						<div class="col-8">
							<div class="card graph-card">
								<div class="card-body">
									<h5 class="card-title">메뉴별 판매 현황</h5>
									<div class="pie-container"
										style="position: relative; height: 46.5vh;">
										<canvas id="pieExample"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!-- 메뉴별 판매현황 끝 (원형차트) -->


						<div class="col-4">

							<!-- 전체 판매량 시작 -->
							<div>
								<div class="card info-card sales-card">
									<div class="filter">
										<a class="icon" href="#" data-bs-toggle="dropdown"><i
											class="bi bi-three-dots"></i></a>
										<ul
											class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
											<li class="dropdown-header text-start">
												<h6>선택</h6>
											</li>

											<li><a class="dropdown-item" href="#">오늘</a></li>
											<li><a class="dropdown-item" href="#">이번달</a></li>
										</ul>
									</div>

									<div class="card-body">
										<h5 class="card-title">
											전체 판매량 <span>| 이번달</span>
										</h5>

										<div class="d-flex align-items-center">
											<div
												class="card-icon rounded-circle d-flex align-items-center justify-content-center">
												<i class="fa-solid fa-burger"></i>
											</div>
											<div class="ps-3">
												<h6 id="salesCnt">145</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 전체 판매량 끝 -->

							<!-- 가맹점 전체 매출 시작 -->
							<div>
								<div class="card info-card revenue-card">
									<div class="filter">
										<a class="icon" href="#" data-bs-toggle="dropdown"><i
											class="bi bi-three-dots"></i></a>
										<ul
											class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
											<li class="dropdown-header text-start">
												<h6>선택</h6>
											</li>

											<li><a class="dropdown-item" href="#">오늘</a></li>
											<li><a class="dropdown-item" href="#">이번달</a></li>
										</ul>
									</div>

									<div class="card-body">
										<h5 class="card-title">
											가맹점 전체 매출 <span>| 이번달</span>
										</h5>

										<div class="d-flex align-items-center">
											<div
												class="card-icon rounded-circle d-flex align-items-center justify-content-center">
												<i class="fa-solid fa-store"></i>
											</div>
											<div class="ps-3">
												<h6 id="salesPri">$3,264</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 가맹점 전체 매출 시작 끝 -->



							<!-- 재료 발주 원가 시작 -->
							<div>
								<div class="card info-card customers-card">
									<div class="filter">
										<a class="icon" href="#" data-bs-toggle="dropdown"><i
											class="bi bi-three-dots"></i></a>
										<ul
											class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
											<li class="dropdown-header text-start">
												<h6>선택</h6>
											</li>

											<li><a class="dropdown-item" href="#">오늘</a></li>
											<li><a class="dropdown-item" href="#">이번달</a></li>
										</ul>
									</div>

									<div class="card-body">
										<h5 class="card-title">
											재료 발주 원가 <span>| 이번달</span>
										</h5>

										<div class="d-flex align-items-center">
											<div
												class="card-icon rounded-circle d-flex align-items-center justify-content-center">
												<i class="fa-solid fa-sack-dollar"></i>
											</div>
											<div class="ps-3">
												<h6 id="salesPro">1244</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 재료 발주 원가 끝 -->




						</div>



					</div>
					<!-- End Left side columns -->
				</div>
			</div>
		</section>
	</main>
</body>
</html>

<script th:inline="javascript">

	//차트 JS 파이차트(채유진)
	const pieExample = document.querySelector('#pieExample').getContext('2d');

	const pieExampleChart = new Chart(pieExample, {
		type : 'pie',
		data : {
			labels : [ '건강버거', '불고기버거', '치즈버거', '감자버거', '롱치킨버거' ],
			datasets : [ {
				label : '# of Votes',
				data : [ 12, 19, 3, 5, 2 ],
				backgroundColor : [ 'rgba(255, 99, 132, 0.2)', 
									'rgba(54, 162, 235, 0.2)', 
									'rgba(255, 206, 86, 0.2)',
									'rgba(75, 192, 192, 0.2)', 
									'rgba(153, 102, 255, 0.2)',
									'rgba(255, 159, 64, 0.2)' ],
				borderColor : [ 'rgba(255, 99, 132, 1)', 
								'rgba(54, 162, 235, 1)', 
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)', 
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)' ],
				borderWidth : 1
			} ]
		},
		options : {
			maintainAspectRatio: false,
			plugins : {
				legend : {
					position : 'right',
					display : true,
					labels : {
						font : {
							size : 14,
							family: "'Helvetica'"
						}
					}
				},
				title : {
					display : false,
					text : '제품별 판매 현황',
					fontSize : 22
				}
			}
		}
	})

	
	
	//차트 JS 선형차트 (월별통계 데이터)
	let salesCnt = document.getElementById('salesCnt');
	let salesPri = document.getElementById('salesPri');
	let salesPro = document.getElementById('salesPro');
	
	const today = new Date();
	const DayOfMonth = today.getFullYear() + '-'+ String(today.getMonth()+1).padStart(2, "0");
	console.log(DayOfMonth);
	
	let StoreSales = [[${StoreSales}]];
	let StoreProduct = [[${StoreProduct}]];
	let StoreOrder = [[${StoreOrder}]];
	
	//월별 가맹점 매출
	let salesData = [];
	//전체메뉴 월별 판매량
	let productsData = [];
	//월별 발주 원가
	let ordersData = [];
	//월표시
	let dateData = [];
	
	StoreSales.forEach(element => {
		if(element.sumCnt != 0) {
			salesData.push(element.sumCnt / 1000);
		}
		if(element.dateList == DayOfMonth) {
			salesPri.innerHTML = element.sumCnt.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + ' 원';
		}
	});
	
	StoreProduct.forEach(element => {
		if(element.sumCnt != 0) {
			productsData.push(element.sumCnt);
		}
		if(element.dateList == DayOfMonth) {
			salesCnt.innerHTML = element.sumCnt + ' 개';
		}
	});
	
	StoreOrder.forEach(element => {
		if(element.sumCnt != 0) {
			ordersData.push(element.sumCnt /1000);
		}
		
		if(element.dateList == DayOfMonth) {
			salesPro.innerHTML = element.sumCnt.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + ' 원';
		}
	});
	
	StoreOrder.forEach(element => {
		dateData.push(element.dateList);
	})
	
       
	//차트 JS 선형차트 (월별통계 그리기)
	const ctx = document.getElementById('myChart').getContext('2d');
	const myChart = new Chart (ctx, {
		type: 'line',
		data: {
			labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
			
			datasets: [
				{
		            label: '가맹점 매출',
		            data: salesData,
		            backgroundColor: ['rgba(255, 99, 132, 0.2)'],
		            borderColor: ['rgba(255, 99, 132, 1)'],
		            //borderWidth: 1
	        	},
	        	{
	        		label:'전체메뉴 판매량',
	        		data: productsData,
	        		backgroundColor: ['rgba(54, 162, 235, 0.2)'],
	        		borderColor: ['rgba(54, 162, 235, 1)'],
	        		//borderWidth: 1
	        	},
	        	{
	        		label:'발주 원가',
	        		data: ordersData,
	        		backgroundColor: ['rgba(163, 253, 141, 0.2)'],
	        		borderColor: ['rgba(163, 253, 141, 1)'],
	        		//borderWidth: 1
	        	}
	        	
			] //end datasets
	        
	    },
	    options: {
	    	maintainAspectRatio: false,
			plugins : {
				legend : {
					position : 'top',
					display : false,
					labels : {
						font : {
							size : 22
						}
					}
				},
				title : {
					display : false,
					text : '제품별 판매 현황',
					fontSize : 22
				}
			},
	        scales: {
	            y: {
	                beginAtZero: true
	            }
	        }
		}
	})
	
	
	
	
	
	
	
	
	
</script>