<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.deburger.app.shop.productSale.mapper.StoreSaleMapper">
	
	<select id="selectStoreSaleList">
	SELECT  PRODUCT_NUMBER
			,PRODUCT_NAME
			,SALE_UNITPRICE
			,IMAGE
			,RECIPE_PDF
			,PRICE
			,CATEGORY
			,REGISTRATION_DAY
			,KIND
			,NOTE 
	FROM product
	ORDER BY CATEGORY
	</select>
	
	<select id="selectStoreSaleDate">	
	SELECT SYSDATE PRODUCT_DATE FROM dual	
	</select>
	
	
	<insert id="insertStoreSaleList">	
	
	INSERT INTO store_product_sale(
			COUNT
			,PRODUCT_DATE
			,SEQ
			,STORE_NUMBER
			,PRODUCT_NUMBER)
	VALUES (#{count}
			, #{productDate}
			, SP_SEQ.nextval
			, #{storeNumber}
			, #{productNumber})   	
	</insert>
	
	
	<select id="insertStoreSaleProcedure" statementType="CALLABLE" parameterType="com.deburger.app.shop.productSale.service.StoreSaleVO" >
      {
         call STORE_SALE_PRO(
            #{storeNumber,      mode=IN,   jdbcType=VARCHAR},
            #{productDate,      mode=IN,   jdbcType=VARCHAR}
         )
      }
   </select>
   
   <insert id="insertStoreSaleStatistics">   
	INSERT INTO store_sales_statistics(
			PROFITS
			,SPENDING
			,STORE_NUMBER
			,SEQ
			,PRODUCT_DATE
			)
	VALUES(
			#{profits}
			,#{spending}
			,#{storeNumber}
			,STA_SEQ.nextval
			,#{productDate}
			)	   
   </insert>
   
   <select id="countStoreSale">   
   	SELECT count(*)
	FROM store_product_sale
	WHERE store_number = #{storeNumber}
	AND TO_CHAR(product_date, 'yyyy-mm-dd') = TO_CHAR(sysdate, 'yyyy-mm-dd')
   </select>
	
	
</mapper>