<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>홈</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Blank</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
   <section class="section">
    <form th:action="@{/materialInserts}" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">재료 등록</h5>         
            </div>
            <div>
            	<h5>재료명 (필수)</h5>
            	<input type="text" placeholder="15자 까지 작성해 주세요" name="materialName">
            </div>
            <div>
            	<h5>구분 (필수)</h5>
            	<input type="text" name="unit" placeholder="ex) 15kg" >
            </div>
            <div>
            	<h5>판매 단가 (필수)</h5>
            	<input type="text" name="saleUnitprice" >
            </div>
             <div>
            	<h5>규격정보 (필수)</h5>
            	<input type="text" name="materialItem" placeholder="원재료, 부재료">
            </div>
            <div>
            	<h5>재료 구분 (필수)</h5>
            	<input type="text" name="materialClassification" placeholder="ex)소스류, 채소, 음료">
            </div>            
            <div>
            	<h5>구매 단가 (필수)</h5>
            	<input type="text" name="buyUnitprice">
            </div>     
            <div>
            	<h5>안전재고 (필수)</h5>
            	<input type="text" name="logisticsSafetyStock">
            </div>
            <div>
            	<h5>가격 (필수)</h5>
            	<input type="text" name ="cost">
            </div>
            <div>
            	<h5>이미지 업로드</h5>
            	<input type="file" id="image" name="materialImage">
            </div>
          </div>
        </div>
      </div>
      <button type="submit">등록</button>
     </form>
   </section>
  </main>
</body>
</html>