<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org/"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/layout}"
  layout:fragment="Content"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="contextPath" th:value="${contextPath}">
    <title>Insert title here</title>
  </head>
  <body>
    <main id="main" class="main">
      <section class="section">
      	<div>
        <div class="row">
          <div class="col-lg-10">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">재료 관리</h5>
                <!-- 여기 검색 등록 -->
                <div class="search-bar ">
                  <form
                    class="search-form d-flex align-items-center"
                    method="POST"
                    action="#"
                  >
                    <input
                      type="text"
                      name="query"
                      placeholder="Search"
                      title="Enter search keyword"
                    />
                    <button type="submit" title="Search">검색</button>
                  </form>
                </div>
			    <div id="outter">
			    <div style="float: right;">
					<select id="cntPerPage" name="sel" onchange="selChange()">
						<option value="5" th:if="${paging.cntPerPage == 5}">5줄 보기</option>
						<option value="10" th:if="${paging.cntPerPage == 10}">10줄 보기</option>
						<option value="15" th:if="${paging.cntPerPage == 15}">15줄 보기</option>
						<option value="20" th:if="${paging.cntPerPage == 20}">20줄 보기</option>
					</select>
				</div> <!-- 옵션선택 끝 -->
				</div>
                <!-- End Search Bar -->
                <!-- Default Table -->
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>번호</th>
                      <th>재료 코드</th>
                      <th>재료 명</th>
                      <th>재료 구분</th>
                      <th>단위</th>
                      <th>구입 단가</th>
                      <th>거래처</th>
                      <th>안전재고</th>
                      <th>비고</th>
                    </tr>
                  </thead>
                  <th:block th:each="list:${viewAll}">
                    <tbody>
                      <tr>
                      	<td th:text="${list.rn}"></td>
                        <td th:text="${list.materialNumber}"></td>
                        <td th:text="${list.materialName}"></td>
                        <td th:text="${list.materialClassification}"></td>
                        <td th:text="${list.unit}"></td>
                        <td th:text="${#numbers.formatInteger(list.buyUnitprice, 3, 'COMMA') + '원'}"></td>
                        <td th:text="${list.clientName}"></td>
                        <td th:text="${list.logisticsSafetyStock}"></td>
                        <td ></td>
                      </tr>
                    </tbody>
                  </th:block>
                </table>
                <!-- End Default Table Example -->
					<div style="display: block; text-align: center;">
											<nav aria-label="Page navigation">
						    <ul class="pagination justify-content-center">
						        <!-- Previous button -->
						        <li class="page-item" th:classappend="${paging.startPage == 1} ? 'disabled'">
						            <a class="page-link" th:href="@{/materials(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}" aria-disabled="true">&lt;</a>
						        </li>
						        <!-- Page numbers -->
						        <li class="page-item" th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}" 
						            th:classappend="${p == paging.nowPage} ? 'active'">
						            <span th:if="${p == paging.nowPage}">
						                <a class="page-link" th:text="${p}"></a>
						            </span>
						            <span th:if="${p != paging.nowPage}">
						                <a class="page-link" th:href="@{/materials(nowPage=${p}, cntPerPage=${paging.cntPerPage})}" th:text="${p}"></a>
						            </span>
						        </li>
						        <!-- Next button -->
						        <li class="page-item" th:classappend="${paging.endPage == paging.lastPage} ? 'disabled'">
						            <a class="page-link" th:href="@{/materials(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
						        </li>
						    </ul>
						</nav>
					    
					</div>
					

              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
  <script>
	const clc = $('meta[name="contextPath"]').attr('value');
    $("tbody > tr").on("click", function (event) {
        let tr = event.currentTarget;
        let did = $(tr).children().eq(1).text();
        console.log(did);
        let url = clc + "/materialInfo?materialNumber=" + did;
        location.href = url;
    });
    
	function selChange() {
		var sel = document.getElementById('cntPerPage').value;
		location.href="materials?nowPage=${paging.nowPage}&cntPerPage="+sel;
	} 
    
  </script>
</html>
