<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org/"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/layout}"
  layout:fragment="Content"
>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <main id="main" class="main">
    	<div class="pagetitle">
			<h1>담당자 등록</h1>
		</div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>

          <!-- General Form Elements -->
          <form class="col-md-8" method="post" th:action="@{insertPerson}" id="postForm">
            <div class="row mb-3">
              <label for="name" class="col-sm-2 col-form-label">담당자 이름</label>
              <div class="col-sm-5 col-md-9">
                <input type="text" class="form-control" name="name" id="name" />
              </div>
            </div>

            <div class="row mb-3">
              <label for="personId" class="col-sm-2 col-form-label">사원번호</label>
              <div class="col-sm-9">
                <input type="inputText" class="form-control" name="personId" id="personId" />
              </div>
            </div>

            <div class="row mb-3">
              <label for="phone" class="col-sm-2 col-form-label">전화번호</label>
              <div class="col-sm-9">
                <input type="inputText" class="form-control" name="phone" id="phone" />
              </div>
            </div>

            <div class="row mb-3">
              <label for="email" class="col-sm-2 col-form-label">이메일</label>
              <div class="col-sm-9">
                <input type="inputText" class="form-control" name="email" id="email" />
              </div>
            </div>

            <div class="row mb-3">
              <label for="area" class="col-sm-2 col-form-label">담당물류창고</label>
              <div class="col-sm-10 col-md-9">
                <input type="inputText" class="form-control" name="area" id="area" />
              </div>
            </div>

            <div class="row mb-3">
              <label for="department" class="col-sm-2 col-form-label">부서 </label>
              <div class="col-sm-5 col-md-4">
                <input type="text" class="form-control" name="department" id="department" />
              </div>
              <label for="position" class="col-sm-1 col-form-label">직급 </label>
              <div class="col-sm-5 col-md-4">
                <input type="text" class="form-control" name="position" id="position" />
              </div>
            </div>

            <div class="text-center">
              <button type="button" class="btn btn-primary" id="insertBtn">저장</button>
              <button type="reset" class="btn btn-secondary">취소</button>
            </div>
          </form>
          <!-- End General Form Elements -->
        </div>
      </div>
    </main>
    <script th:inline="javascript">
      document.getElementById('insertBtn').onclick = function () {
        let userId = 'DGB' + document.getElementById('personId').value;
        let userPw = document.getElementById('phone').value;
        Swal.fire({
          title: 'ID와 비밀번호를 확인해 주세요',
          text: `ID = ${userId} \n  PASSWORD = ${userPw}`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: '승인',
          cancelButtonText: '취소',
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire({
              title: '등록이 완료되었습니다.',
              icon: 'success',
            });
            document.getElementById('postForm').submit();
          } else {
            Swal.fire({
              title: '등록 취소!',
              icon: 'error',
            });
          }
        });
        return false;
      };
    </script>
  </body>
</html>
