<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deburger.app.shop.qna.mapper.QnaMapper"> 

<!-- 전체 조회(본점) -->
<select id="qnaListOffice" resultType="QnaVO">
select   q.qna_number
        ,q.title
        ,s.store_name
        ,q.writer
        ,q.writer_day
from qna q JOIN store s
on (q.store_number = s.store_number)
order by qna_number desc
</select>

<!-- 전체 조회 카운트(본점) -->
<select id="qnaListOfficeConut" resultType="int">
select count(writer)
from qna
where writer=#{writer}

</select>


<!-- 전체 조회에서 상태 update -->
<update id = "qnaListWriterUpdate">
UPDATE qna
   SET
      writer=#{writer}
   WHERE qna_number=#{qnaNumber} 
</update>

<!-- 전체조회(가맹점) 해당 가맹점만 노출 오류 생길수도?-->
<select id = "qnaListShop" resultType="QnaVO">
select  qna_number
       ,title
       ,writer
       ,writer_day
from qna
where store_number = #{storeNumber}
order by qna_number desc
</select>

<!-- 전체 조회 카운트(가맹점) 오류 생길수도?-->
<select id="qnaListShopConut" resultType="int">
select count(writer)
from qna
where store_number = #{storeNumber}
  AND writer=#{writer}
</select>

<!-- 글 등록(가맹점) -->
<insert id="qnaShopInsert" parameterType ="QnaVO">
INSERT INTO qna (qna_number
                , store_number
                , title
                , content
                , writer_day
                , writer)
VALUES         (
                LPAD(QNA_SEQ.nextval, '7', '0')
                ,#{storeNumber}
                ,#{title}
                ,#{content}
                ,sysdate
                ,'접수')
</insert>

<!-- QnA상세 조회(가맹점) -->
<select id="qnaListInfoShop" resultType="QnaVO">
select   qna_number
        ,title
        ,writer
        ,writer_day
        , content
from qna
where qna_number=#{qnaNumber}
</select>

<!-- QnA상세 조회(가맹점 댓글 조회) -->
<select id="qnaListInfoShopComment" resultType="QnaVO">
select com_content
from comments
where qna_number=#{qnaNumber}
</select>

<!-- 가맹점 QnA수정  -->
<update id= "qnaShopUpdate">
UPDATE qna 
   SET   title=#{title}
       , content=#{content}
       , writer_day=sysdate
 WHERE qna_number=#{qnaNumber}
</update>

<!-- 가맹점 QnA삭제 -->
<delete id="qnaShopDelete">
DELETE
FROM qna
WHERE qna_number=#{qnaNumber}
</delete>

<!-- 상태 변경 -->
<update id= "statusUpdate">
UPDATE qna
   SET writer = #{writer}
 WHERE qna_number=#{qnaNumber}
 </update>

<!-- QnA상세 조회(본사) -->
<select id="qnaCommentOffice" resultType="QnaVO">
select   q.qna_number
        ,q.title
        ,q.content
        ,s.store_name
        ,q.writer
        ,q.writer_day
from qna q JOIN store s
on (q.store_number = s.store_number)
where  q.qna_number = #{qnaNumber}
</select>

<!-- QnA 문의답글 등록(본사) -->
<insert id="qnaCommentInsert" parameterType ="QnaVO">
INSERT INTO comments (comments_number
                , qna_number
                , com_content
                )
VALUES         (
                LPAD(COM_SEQ.nextval, '7', '0')
                ,#{qnaNumber}
                ,#{comContent}
                )
</insert>

<!-- QnA 문의답글 수정(본사) -->
<update id= "qnaCommentUpdate">
UPDATE comments 
   SET   com_content=#{comContent}
 WHERE qna_number=#{qnaNumber}
</update>

<!-- QnA 문의답글 조회(본사) -->
<select id="qnaCommertSelect" resultType="String">
select   com_content
from comments
where qna_number=#{qnaNumber}
</select>

</mapper>
