<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deburger.app.shop.qna.mapper.QnaMapper"> 

<!-- 전체 조회(본점) -->
<select id="qnaListOffice" resultType="QnaVO">
select   q.qna_number
        ,q.title
        ,s.store_name
        ,q.writer
        ,q.writer_day
from qna q JOIN store s
on (q.store_number = s.store_number)
order by qna_number desc
</select>

<!-- 전체 조회 카운트(본점) -->
<select id="qnaListOfficeConut" resultType="int">
select count(writer)
from qna
where writer=#{writer}

</select>


<!-- 전체 조회에서 상태 update -->
<update id = "qnaListWriterUpdate">
UPDATE qna
   SET
      writer=#{writer}
   WHERE qna_number=#{qnaNumber} 
</update>

<!-- 전체조회(가맹점) 해당 가맹점만 노출 오류 생길수도?-->
<select id = "qnaListShop" resultType="QnaVO">
select  qna_number
       ,title
       ,writer
       ,writer_day
from qna
where store_number = #{storeNumber}
</select>

<!-- 전체 조회 카운트(가맹점) 오류 생길수도?-->
<select id="qnaListShopConut" resultType="int">
select count(writer)
from qna
where store_number = #{storeNumber}
  AND writer=#{writer}
</select>

<!-- 글 등록(가맹점) -->
<insert id="qnaShopInsert" parameterType ="QnaVO">
INSERT INTO qna (qna_number
                , store_number
                , title
                , content
                , writer_day
                , writer)
VALUES         (
                QNA_SEQ.nextval
                ,#{storeNumber}
                ,#{title}
                ,#{content}
                ,sysdate
                ,'접수')
</insert>

<!-- QnA상세 조회(가맹점) -->
<select id="qnaListInfoShop" resultType="QnaVO">
select   qna_number
        ,title
        ,writer
        ,writer_day
from qna
where qna_number=#{qnaNumber}
</select>

<!-- QnA상세 조회(가맹점 댓글 조회) -->
<select id="qnaListInfoShopComment" resultType="QnaVO">
select   c.com_content
from comments c JOIN qna q
on (c.qna_number = q.qna_number)
where q.store_number = #{storeNumber}
  AND c.comments_number=#{commentsNumber}
</select>

</mapper>