<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<th:block th:replace="~{common/configs/config :: ConfigFrag}"></th:block>
<!-- csrf -->
 <meta th:value="${_csrf.token}" name="_csrf"> 
<title>Insert title here</title>
</head>
<body>
<script type="text/javascript">
  let csrf = $("meta[name='_csrf']").attr("value");
  $.ajaxSetup({
	  headers: {
		  "X-CSRF-TOKEN" : csrf
	  }
  });
</script>
	<header th:replace="~{common/fragments/header :: HeaderFrag}"></header>
	<aside th:replace="~{common/fragments/sidebar :: SidebarFrag}"></aside>
	<main class="contentMain">
		<th:block layout:fragment="Content"></th:block>
	</main>
	<footer th:replace="~{common/fragments/footer :: FooterFrag}"></footer>
	<th:block th:replace="~{common/configs/config :: FooterConfigFrag}"></th:block>
</body>
</html>