#postnum {
	margin-top: 31.994px;
}

.LogiInfoStockCard{
	padding: 10px 20px 10px 20px;
}

.logisticStockCard {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom:20px;
}

.logisticStockPage {
	padding-top: 100px;
}