<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/layout}" layout:fragment="Content">

<head>
<meta charset="UTF-8">
<title>공지사항 상세</title>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
	    <form style="margin: 0px ; width: 75%; display: inline-block ; value: Left">
		<th:block th:if="${notice.division =='업데이트'}"> <p><a href="noticeListShopUpdate">[[ ${notice.division} ]]</a></p></th:block>
		<th:block th:if="${notice.division =='서비스'}"> <p><a href="noticeListShopService">[[ ${notice.division} ]]</a></p></th:block>
		<th:block th:if="${notice.division =='이벤트'}"> <p><a href="noticeListShopEvent">[[ ${notice.division} ]]</a></p></th:block>
		<th:block th:if="${notice.division =='작업'}"> <p><a href="noticeListShopWork">[[ ${notice.division} ]]</a></p></th:block>
		<th:block th:if="${notice.division =='공고'}"> <p><a href="noticeListShopAnnouncement">[[ ${notice.division} ]]</a></p></th:block>
		</form>
	    <form style="margin: 5px ; display: inline-block ; value: right">
			<button type="button" id="btnInsert" class="btn btn-primary">수정하기</button>
			<button type="button" id="btnDelete" class="btn btn-primary">삭제하기</button>
	    </form>	
			<h2><b>[[ ${notice.title} ]]</b></h2>
            <p><a>[[${#dates.format(notice.writerDate,'yyyy-MM-dd')}]]</a></p>
			<hr class="col-md-11">
			<div class="col-md-11">
				<div class="card" style="padding: 15px">
			
			<p>[(${notice.content})]<p>
			</p>
			</div>
			</div>
			<hr class="col-md-11">
			<p><a href="noticeListShop">목록으로</a>
       			
		</div>
     </main>
     	<script>
     	$("#btnInsert").on("click", function(event) {
			const urlParams = new URL(location.href).searchParams;
			const noticeNumber = urlParams.get('noticeNumber');
			//noticeCorrectOffice?noticeNumber=ANM0000061
			let url = 'noticeCorrectOffice?noticeNumber='+ noticeNumber ;
			location.href = url;
		});    
			
   		$("#btnDelete").on("click", function(event) {
   			
   			Swal.fire({
                title: '게시글을 삭제하시겠습니까?',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '승인',
                cancelButtonText: '취소'
                })
                .then((result)=>{
        			const urlParams = new URL(location.href).searchParams;
        			const noticeNumber = urlParams.get('noticeNumber');
        			let url = 'noticeDeleteOffice?noticeNumber='+ noticeNumber;
        			location.href = url;
                	
                })
   			

		}); 
		</script>
</body>
</html>