<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deburger.app.main.store.mapper.StoreMapper">



	
	<select id="selectStoreList" resultType="com.deburger.app.main.store.service.StoreVO">	
	select  
                STORE_NUMBER
               ,SHOPKEEPER
               ,BUSINESS_REGISTRATION_NUMBER
               ,PHONE
               ,EMAIL
               ,STORE_NAME
               ,ADDRESS
               ,CONTRACT_START_DAY
               ,CONTRACT_FIN_DAY
               ,CONTRACT_IMAGE
               ,BUSINESS_LICENSE_IMAGE
               ,POSTAL
               ,ADDRESSSEC
               ,NOTE
               ,LOGISTICS_ID              
	from store
	
	</select>
	
	<select id="selectStoreNumber">
		SELECT 'FRC' || LPAD(FRC_SEQ.nextval, '10', '0') STORE_NUMBER
		from dual
	</select>
	
	
	<insert id="insertStore" parameterType="com.deburger.app.main.store.service.StoreVO">
	INSERT INTO store(
	                  STORE_NUMBER
	                 ,SHOPKEEPER
	                 ,BUSINESS_REGISTRATION_NUMBER
	                 ,PHONE
	                 ,EMAIL
	                 ,STORE_NAME
	                 ,ADDRESS
	                 ,CONTRACT_START_DAY
	                 ,CONTRACT_FIN_DAY
	                 ,CONTRACT_IMAGE
	                 ,BUSINESS_LICENSE_IMAGE
	                 ,POSTAL
	                 ,ADDRESSSEC
	                 ,NOTE
	                 ,LOGISTICS_ID
	                 )
	VALUES (
	                  #{storeNumber}
	                  ,#{shopkeeper}
	                  ,#{businessRegistrationNumber}
	                  ,#{phone}
	                  ,#{email}
	                  ,#{storeName}
	                  ,#{address}
	                  ,#{contractStartDay}
	                  ,#{contractFinDay}
	                  ,#{contractImage}
	                  ,#{businessLicenseImage}
	                  ,#{postal}
	                  ,#{addressses}
	                  ,#{note}
	                  ,#{logisticsId}	                  
	
			)
	</insert>
	
	<select id="selectStoreInfoNumber">
	SELECT store_name FROM store 
	WHERE store_number = #{id}
	</select>
	
	<!-- 월별 가맹점 매출 -->
	<select id="selectStoreSalesMonth" >        
        SELECT
                     SUBSTR(b.dt,1,7) AS
                     date_list,
                     nvl(SUM(profits), 0)     sum_cnt
                 FROM
                     (
                         SELECT
                             to_char(product_date,
                             'YYYY-MM-DD') AS
                             product_date,
                             profits
                         FROM
                             store_sales_statistics
                         WHERE
                             product_date BETWEEN
                             to_date(to_char(
                             sysdate, 'YYYY')
                                          || '-01-01',
                                          'YYYY-MM-DD')
                                          AND
                                          to_date(
                                          to_char(
                                          sysdate,
                                          'YYYY')
                                           ||
                                           '-12-31',
                                           'YYYY-MM-DD')
                     ) a
                     RIGHT OUTER JOIN (
                         SELECT
                            to_char(to_date(to_char(  sysdate, 'YYYY')  || '-01-01', 'YYYY-MM-DD') +  level - 1, 'YYYY-MM-DD')
                                     AS dt
                         FROM
                             dual
                         CONNECT BY
                             level <![CDATA[<=]]> ( to_date(     to_char(sysdate, 'YYYY') || '-12-31',
                                        'YYYY-MM-DD') -
                                        to_date(
                                        to_char(
                                        sysdate,
                                        'YYYY')
                                         || '-01-01',
                                         'YYYY-MM-DD') +
                                         1 )
                     ) b ON b.dt = a.product_date
                 GROUP BY
                     SUBSTR(b.dt,1,7)
                 ORDER BY
                     SUBSTR(b.dt,1,7)
	</select>
	
	<!-- 전체메뉴 월별 판매량 -->
	<select id="selectStoreProductMonth" >
	SELECT SUBSTR(b.dt,1,7) AS date_list
     , NVL(SUM(count),0) SUM_cnt
	FROM ( SELECT TO_CHAR(PRODUCT_DATE, 'YYYY-MM-DD') AS PRODUCT_DATE
	              , count
	       FROM store_product_sale
	       WHERE PRODUCT_DATE BETWEEN TO_DATE(TO_CHAR(SYSDATE,'YYYY') ||'-01-01', 'YYYY-MM-DD')
	                              AND TO_DATE(TO_CHAR(SYSDATE,'YYYY') ||'-12-31', 'YYYY-MM-DD')
	        ) a 
	   RIGHT OUTER JOIN 
	    ( SELECT TO_CHAR(TO_DATE('2024-01-01','YYYY-MM-DD') + LEVEL - 1, 'YYYY-MM-DD') AS dt
	      FROM dual 
	      CONNECT BY LEVEL <![CDATA[<=]]> (TO_DATE('2024-12-31','YYYY-MM-DD') 
	      - TO_DATE('2024-01-01','YYYY-MM-DD') + 1)
	      ) b
	   ON b.dt = a.product_date 
	GROUP BY SUBSTR(b.dt,1,7)
	ORDER BY SUBSTR(b.dt,1,7)	
	</select>
	
	<!-- 월별 발주 원가 -->
	<select id="selectStoreOrderMonth" >
	SELECT SUBSTR(b.dt,1,7) AS date_list
     , NVL(SUM(order_cost),0) SUM_cnt
	FROM ( SELECT TO_CHAR(order_day, 'YYYY-MM-DD') AS order_day
	              , d.order_cost order_cost
	       FROM logistics_order_details d JOIN logistics_order o
	       ON d.order_number = o.order_number
	       WHERE o.order_day BETWEEN TO_DATE(TO_CHAR(SYSDATE,'YYYY') ||'-01-01', 'YYYY-MM-DD')
	                   AND TO_DATE(TO_CHAR(SYSDATE,'YYYY') ||'-12-31', 'YYYY-MM-DD')       
	        ) a 
	RIGHT OUTER JOIN 
	    ( SELECT TO_CHAR(TO_DATE('2024-01-01','YYYY-MM-DD') + LEVEL - 1, 'YYYY-MM-DD') AS dt
	      FROM dual 
	      CONNECT BY LEVEL <![CDATA[<=]]> (TO_DATE('2024-12-31','YYYY-MM-DD') 
	      - TO_DATE('2024-01-01','YYYY-MM-DD') + 1)
	      ) b
	   ON b.dt = a.order_day 
	GROUP BY SUBSTR(b.dt,1,7)
	ORDER BY SUBSTR(b.dt,1,7)
	</select>
	
	<select id="selectLogisticsId">
		SELECT area logisticsId
		FROM person
		WHERE person_id = #{personId}
	</select>
	
</mapper>