<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deburger.app.main.store.mapper.StoreMapper">

	<insert id="insertStore" parameterType="com.deburger.app.main.store.service.StoreVO">
	INSERT INTO store(
	                  STORE_NUMBER
	                 ,SHOPKEEPER
	                 ,BUSINESS_REGISTRATION_NUMBER
	                 ,PHONE
	                 ,EMAIL
	                 ,STORE_NAME
	                 ,ADDRESS
	                 ,CONTRACT_START_DAY
	                 ,CONTRACT_FIN_DAY
	                 ,CONTRACT_IMAGE
	                 ,BUSINESS_LICENSE_IMAGE
	                 ,POSTAL
	                 ,ADDRESSSEC
	                 ,NOTE
	                 ,LOGISTICS_ID
	                 )
	VALUES (
	                  'FRC' || LPAD(FRC_SEQ.nextval, '7', '0')
	                  ,#{shopkeeper}
	                  ,#{businessRegistrationNumber}
	                  ,#{phone}
	                  ,#{email}
	                  ,#{storeName}
	                  ,#{address}
	                  ,#{contractStartDay}
	                  ,#{contractFinDay}
	                  ,#{contractImage}
	                  ,#{businessLicenseImage}
	                  ,#{postal}
	                  ,#{addressses}
	                  ,#{note}
	                  ,#{logisticsId}	                  
	
			)
	</insert>
	
	
</mapper>