<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org/"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/layout}"
  layout:fragment="Content"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="contextPath" th:value="${contextPath}">
    <title>Insert title here</title>
  </head>
  <body>
    <main id="main" class="main">
    <div class="pagetitle">
      <h1>입고 처리</h1>
    </div>
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body" style="min-height: 500px;">
                <h5 class="card-title"></h5>        
                <!-- 여기 검색 등록 -->
				 <div class="row mb-3">
                    <div class="col-sm-4">
                  </div>
                </div>
                <table class="table" th:if="${lcnts}">
                  <thead>
                    <tr>
                      <th>발주 번호</th>
                      <th>발주 수량</th>
                      <th>입고 여부</th>
                      <th>담당자 ID</th>	
                      <th>거래처 이름</th>	
                      <th>비고</th>
                      <th></th>      
                    </tr>
                  </thead>
                  <th:block th:each="lists:${containersIn}" >
                    <tbody>
                      <tr >
                      	<td th:text="${lists.orderNumber}"></td>
                      	<td th:text="${lists.sum}"></td>
                      	<td th:text="${lists.inOperation} == 'f1' ? '입고 전' : '입고 완료'"></td>
                      	<td th:text="${lists.personId}"></td>
                      	<td th:text="${lists.clientName}"></td>
                      	<td th:text="${lists.note}"></td>
                      </tr>
                    </tbody>
                  </th:block>
                </table>
                <table class="table" th:unless="${lcnts}">
                  <thead>
                    <tr>
                      <th>발주 번호</th>
                      <th>발주 수량</th>
                      <th>입고 여부</th>
                      <th>담당자 ID</th>	
                      <th>거래처 이름</th>	
                      <th>비고</th>
                      <th></th>      
                    </tr>
                  </thead>
                    <tbody>
                      <tr >
							<td colspan='7' style="text-align: center;">현재 입고 요청 항목이 없습니다.</td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
  <script>
  	$('tbody > tr').on('click',function(e){
  		let tds = e.currentTarget;
  		let did = $(tds).children().eq(0).text();
 		let url = '/deburger/containerInsert?orderNumber='+did;
 		location.href = url;
  	})
  	
  	
  </script>
</html>