<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org/"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/layout}"
  layout:fragment="Content"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="contextPath" th:value="${contextPath}">
    <title>Insert title here</title>
  </head>
  <body>
    <main id="main" class="main">
      <section class="section">
        <div class="row">
          <div class="col-lg-10">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">물류 창고 재고 리스트</h5>
                <!-- 여기 검색 등록 -->
				 <div class="row mb-3">
                    <div class="col-sm-4">
                     <select class="form-select" aria-label="Default select example">
	                      <option selected>Open this select menu</option>
	                      <option value="1">One</option>
	                      <option value="2">Two</option>
	                      <option value="3">Three</option>
                    </select>

                    <h3 th:text="${containers[0].logisticsName}"></h3>
                    <h3 th:text="${containers[0].personId}"></h3>
                  </div>
                </div>
                <!-- End Search Bar -->
                <!-- Default Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>재료 번호</th>
                      <th>재료 구분</th>
                      <th>재료 명</th>
                      <th>총 재고</th>
                      <th>안전 재고</th>
                      <th>검수</th>       
                    </tr>
                  </thead>
                  <th:block th:each="lists:${containers}">
                    <tbody>
                      <tr>
                      	<td th:text="${lists.materialNumber}"></td>
                      	<td th:text="${lists.materialClassification}"></td>
                      	<td th:text="${lists.materialName}"></td>
                      	<td th:text="${lists.inCount}-${lists.outCount}"></td>
                      	<td th:text="${lists.outCount}" style="display:none;"></td>
                      	<td th:text="${lists.logisticsSafetyStock}"></td>                     	
                      	<td th:text="${lists.inspectionOperation} ? '승인': '불량'"></td>                     	
                      </tr>
                    </tbody>
                  </th:block>
                </table>
                <!-- End Default Table Example -->
                <div class="card">
                  <div class="card-body">
                    <!-- Pagination with icons -->
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    <!-- End Pagination with icons -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
  <script>
  	const clc = $('meta[name="contextPath"]').attr('value');
  	$('tbody > tr').on('click', function(event){
  		let tr = event.currentTarget;
  		let did = $(tr).children().eq(0).text();
  		let url = clc + '/containerInfo?materialNumber='+did;
  		location.href = url;
  	});
  	
  	

  </script>
</html>
