<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org/"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/layout}"
  layout:fragment="Content"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="contextPath" th:value="${contextPath}">
    <title>Insert title here</title>
  </head>
  <body>
    <main id="main" class="main">
      <section class="section">
        <div class="row">
          <div class="col-lg-10">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">물류 창고 재고 리스트</h5>
                <!-- 여기 검색 등록 -->
				<div class="row mb-12">
				  <div class="d-flex justify-content-between align-items-center">
				    <div class="col-sm-4">
				      <select class="form-select" aria-label="Default select example">
				        <option selected>전체</option>
				        <option value="1">채소</option>
				        <option value="2">패티</option>
				        <option value="3">제빵</option>
				      </select>
				    </div>
				    <div>
				      <h5 th:text="${persons.logisticsName}"></h5>
				    </div>
				  </div>
				</div>
                <!-- End Search Bar -->
                <!-- Default Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>재료 번호</th>
                      <th>재료 구분</th>
                      <th>재료 명</th>
                      <th>총 재고</th>
                      <th>안전 재고</th>
                    </tr>
                  </thead>
                  <th:block th:each="lists:${containers}">
                    <tbody>
                      <tr>
                      	<td th:text="${lists.materialNumber}"></td>
                      	<td th:text="${lists.materialClassification}"></td>
                      	<td th:text="${lists.materialName}"></td>
                      	<td th:text="${lists.stockCount}"></td>
                      	<td th:text="${lists.logisticsSafetyStock}"></td>  
                      </tr>
                    </tbody>
                  </th:block>
                </table>
                <!-- End Default Table Example -->
                <div class="card">
                  <div class="card-body">
                    <!-- Pagination with icons -->
                    <nav aria-label="Page navigation example">
                      <ul class="pagination" style="justify-content: center;">
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    <!-- End Pagination with icons -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
  <script>
  	const clc = $('meta[name="contextPath"]').attr('value');
  	$('tbody > tr').on('click', function(event){
  		let tr = event.currentTarget;
  		let did = $(tr).children().eq(0).text();
  		let url = clc + '/containerInfo?materialNumber='+did;
  		location.href = url;
  	});
  	
  	

  </script>
</html>
