<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>출고 처리</title>
<style>
th, td {
	border: solid 1px black;
}
</style>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1 class="card-title">출고 상세 조회</h1>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
			   <div class="col-lg-12">
					<div class="card">
						<div class="card-body" style="padding:10px;">
							<table class="col-lg-12" style="text-align: center">
								<thead>
									<tr>
										<th>발주번호</th>
											<td colspan='8'><input type="text" id="orderName"
												name="pNumber" style="border: none; width: 100%; text-align: center;" th:value="${outList[0].orderNumber}"  readonly></td>
									</tr>
									<tr>
										<th>출고 일자</th>
										<td colspan='8'th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"></td>
									</tr>
									<tr>
										<th>발신 업체 이름</th>
										<td colspan='3' th:text="${outList[0].logisticsName}"></td>
										<th>수신 업체 이름</th>
										<td colspan='4' th:text="${outList[0].storeName}"></td>
									</tr>
									<tr>
										<th rowspan="2">연락처</th>
										<th>전화번호</th>
										<td colspan='2' th:text="${outList[0].logisticsPhone}" ></td>

										<th rowspan="2">연락처</th>
										<th>전화번호</th>
										<td colspan='3' th:text="${outList[0].phone}"></td>

									</tr>
									<tr>
										<th>이메일</th>
										<td colspan='2'>info@deburger.com</td>
										<th>이메일</th>
										<td colspan='3' th:text="${outList[0].email}"></td>
									</tr>
								</thead>
								<tbody id="outLists">
									<tr>
										<th >상세 발주번호</th>
										<th >품명</th>
										<th >규격</th>
										<th >수량</th>								
										<th >출고 수량</th>
										<th >검수 결과</th>
										<th colspan='3'>비고</th>
									</tr>
									<th:block th:each="lists:${outList}" id="outs">
										<tr >
											<td th:text="${lists.orderDetailsNumber}" data-bs-toggle="modal" data-bs-target="#ExtralargeModal" onclick="onModal()"></td>
											<td th:text="${lists.materialName}" data-bs-toggle="modal" data-bs-target="#ExtralargeModal" onclick="onModal()"></td>
											<td th:text="${lists.materialNumber}" style="display:none;" id="numb"></td>
											<td th:text="${lists.unit}" data-bs-toggle="modal" data-bs-target="#ExtralargeModal" onclick="onModal()"></td>
								            <td th:text="${lists.count}" data-bs-toggle="modal" data-bs-target="#ExtralargeModal" onclick="onModal()"></td>
								            <td th:text="${lists.count}"></td>
								            <td th:if="${lists.inspection} == 'h1'" th:text='정상' ></td>
								            <td th:if="${lists.inspection} == 'h2'" th:text='폐기' ></td>
								            <td th:if="${#strings.isEmpty(lists.inspection)} " th:text='미출고' ></td>
								            <!-- <td th:text="${lists.inspection} == 'h1' ?  '정상' : '폐기'" ></td> -->
								            <td colspan='3'></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
							<div style="text-align: right; margin: 0 0 10px 0; padding:10px;">
								<a href="containerOuts"><button type="button" class="btn btn-primary">목록</button></a>
							</div>
					</div>	
				</div>
			</div>
		</section>
	</main>
</body>
<script>
</script>
</html>