<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org/"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/layout}"
  layout:fragment="Content"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="contextPath" th:value="${contextPath}">
    <title>Insert title here</title>
  </head>
  <body>
    <main id="main" class="main">
      <section class="section">
        <div class="row">
          <div class="col-lg-10">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">재료 입고 조회 List</h5>
                    <div>
                      <button onclick="mkrData()">등록</button>                   	                  
                    </div>
                <!-- 여기 검색 등록 -->
				 <div class="row mb-3">
                    <div class="col-sm-4">
                  </div>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th><input type="checkbox"></th>
                      <th>LOT</th>
                      <th>재료 이름</th>
                      <th>상세 발주 번호</th>	
                      <th>예정 수량</th>	<!-- 발주 수량 -->
                      <th>검수 상태</th>
                      <th>입고 수량</th>
                      <th>등록일</th>
                      <th>매입처</th>
                      <th>등록자</th>      
                    </tr>
                  </thead>
                  <th:block th:each="lists:${containersIn}">
                    <tbody>
                      <tr >
                      	<td><input type="checkbox" name="id"></td>
                      	<td th:text="${lists.lot}"></td>
                      	<td th:text="${lists.materialName}"></td>
                      	<td th:text="${lists.detailsOrderNumber}"></td>
                      	<td th:text="${lists.count}"></td>
                      	<td th:text="${lists.inspectionOperation}"></td>
                      	<td th:text="${lists.inCount}"></td>
                      	<td th:text="${#dates.format(lists.inDay, 'yyyy/MM/dd')}"></td>
                      	<td th:text="${lists.clientName}"></td>
                      	<td th:text="${lists.personId}"></td>
                      	<th th:text="${lists.clientId}" style="display:none;"></th>
                      </tr>
                    </tbody>
                  </th:block>
                </table>
                <!-- End Default Table Example -->
                <div class="card">
                  <div class="card-body">
                    <!-- Pagination with icons -->
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    <!-- End Pagination with icons -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
  <script>
  	function mkrData(){
  		let list = [];
  		
  		$("[name='id']:checked").each(function(i, checkbox){
  			let tds = $(checkbox).closest("tr").children();
  			let detailsOrderNumber = tds.eq(3).text(); 			
  			let clientId = tds.eq(10).text(); 
  			list.push({detailsOrderNumber, clientId});
  		})
  		console.log(list);
  		$.ajax({
  			url : "/deburger/containerInsert",
  			method : "post",
  			contentType : "application/json",
			data : JSON.stringify(list),
			async: false,
			success: function(result) {
	            console.log(result); // 성공하면
	            window.location.href="/deburger/containerInsert";
	        },
	        fail: function(result) {
	            fail(error); 
	            console.log(result.responseText); // 실패하면
	        }
  		})
  	}
  </script>
</html>