<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>입고 처리</title>
<style>
th, td {
	border: solid 1px black;
}
</style>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1 class="card-title">입고 처리</h1>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<table class="col-lg-12" style="text-align: center">
								<thead>
									<tr>
										<th>상세 발주번호</th>
										<td colspan='8'><input type="text" id="orderName"
											name="orderName" style="border: none; width: 100%;"></td>
									</tr>
									<tr>
										<th>발주일자</th>
										<td colspan='8'></td>
									</tr>
									<tr>
										<th>발신 업체 이름</th>
										<td colspan='3'><input type="text" id="storeNumber"
											name="storeNumber" value="FRC0000001" style="border: none;"
											readonly></td>
										<th>수신 업체 이름</th>
										<td colspan='4'>디버거</td>
									</tr>
									<tr>
										<th rowspan="2">연락처</th>
										<th>전화번호</th>
										<td colspan='2'></td>

										<th rowspan="2">연락처</th>
										<th>전화번호</th>
										<td colspan='3'>053-0000-0000</td>

									</tr>
									<tr>
										<th>이메일</th>
										<td colspan='2'></td>
										<th>이메일</th>
										<td colspan='3'>info@deburger.com</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>합계금액</th>
										<td style="text-align: center" colspan='8'>일금 <input
											type="text" style="border: none; width: 200px;" id="korSum"
											readonly /> 원정( <input type="text"
											style="border: none; width: 200px;" id="allSum" readonly />
											)세액포함
										</td>
									</tr>
									<tr>
										<th class="col-lg-1"><input type="checkbox"
											name="allOrder"></th>
										<th class="col-lg-1">품명</th>
										<th class="col-lg-1">규격</th>
										<th class="col-lg-1">수량</th>
										<th class="col-lg-1">단가</th>
										<th class="col-lg-1">입고 수량</th>
										<th class="col-lg-1">유통 기한</th>
										<th class="col-lg-1">검수</th>
										<th class="col-lg-1">비고</th>
									</tr>
									<th:block th:each="container : ${list}">
									<tr>
										<td class="col-lg-1"><input type="checkbox"
											name="allOrder"></td>
										<td class="col-lg-1" th:text="${container.materialName}"></td>	
										<td class="col-lg-1" th:text="${container.unit}"></td>	
										<td class="col-lg-1" th:text="${container.count}"></td>	
										<td class="col-lg-1" th:text="${container.orderCost}"></td>	
										<td class="col-lg-1" ><input type="text"
											name="allOrder"></td>	
										<td class="col-lg-1" ><input type="text"
											name="allOrder"></td>	
										<td class="col-lg-1" ><input type="text"
											name="allOrder"></td>	
										<td class="col-lg-1" ><input type="text"
											name="allOrder"></td>
									</tr>
									</th:block>
								</tbody>
							</table>
						</div>
							<div style="text-align: right; margin: 0 0 10px 0;">
								<button type="button" class="btn btn-primary">목록</button>
								<button type="submit" class="btn btn-primary"
									onclick="makeData()" id="update">수정</button>
								<button type="button" class="btn btn-primary" id="save">저장</button>
							</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>