<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>출고 처리</title>
<style>
th, td {
	border: solid 1px black;
}
</style>
</head>

<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1 class="card-title">출고 처리</h1>
		</div>
		<!-- End Page Title -->
		<section class="section">
			<div class="row">
			   <div class="col-lg-12">
				 <form th:action="@{/containerOutPd}" method="post">
					<div class="card">
						<div class="card-body">
							<table class="col-lg-12" style="text-align: center">
								<thead>
									<tr>
										<th>발주번호</th>
											<td colspan='8'><input type="text" id="orderName"
												name="pNumber" style="border: none; width: 100%; text-align: center;" th:value="${outList[0].orderNumber}"  readonly></td>
									</tr>
									<tr>
										<th>출고 일자</th>
										<td colspan='8'th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"></td>
									</tr>
									<tr>
										<th>발신 업체 이름</th>
										<td colspan='3'><input type="text" id="storeNumber"
											value="FRC0000001" style="border: none;"
											 readonly></td>
										<th>수신 업체 이름</th>
										<td colspan='4'>디버거</td>
									</tr>
									<tr>
										<th rowspan="2">연락처</th>
										<th>전화번호</th>
										<td colspan='2'></td>

										<th rowspan="2">연락처</th>
										<th>전화번호</th>
										<td colspan='3'>053-0000-0000</td>

									</tr>
									<tr>
										<th>이메일</th>
										<td colspan='2'></td>
										<th>이메일</th>
										<td colspan='3'>info@deburger.com</td>
									</tr>
								</thead>
								<tbody id="outLists">
									<tr>
										<th >상세 발주번호</th>
										<th >품명</th>
										<th >규격</th>
										<th >수량</th>								
										<th >출고 수량</th>
										<th >검수</th>
										<th colspan='3'>비고</th>
									</tr>
									<th:block th:each="lists:${outList}">
										<tr >
											<td th:text="${lists.orderDetailsNumber}" data-bs-toggle="modal" data-bs-target="#ExtralargeModal" onclick="onModal()"></td>
											<td th:text="${lists.materialName}" data-bs-toggle="modal" data-bs-target="#ExtralargeModal" onclick="onModal()"></td>
											<td th:text="${lists.materialNumber}" style="display:none;"></td>
											<td th:text="${lists.unit}" data-bs-toggle="modal" data-bs-target="#ExtralargeModal" onclick="onModal()"></td>
								            <td th:text="${lists.count}" data-bs-toggle="modal" data-bs-target="#ExtralargeModal" onclick="onModal()"></td>
								            <td ><input type="text" th:value="${lists.count}"></td>
								            <td ><div class="row mb-3">
								                  <div class="col-sm-10">
								                    <select class="form-select" aria-label="Default select example" name="pInspection">
								                      <option value="h1">정상</option>
								                      <option value="h2">비정상</option>
								                    </select>
								                  </div>
                								</div>
                							</td>
								            <td colspan='3'><input type="text"></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						
						</div>
							<div style="text-align: right; margin: 0 0 10px 0;">
								<a href="containerOut"><button type="button" class="btn btn-primary">목록</button></a>
								<button type="submit" class="btn btn-primary"
									id="update">수정</button>
								<a href="containerOut"><button type="submit" class="btn btn-primary" id="saveBtn">저장</button></a>
							</div>
					</div>
				</form>	
				</div>
			</div>
			<form id="modalForm">
				<div class="modal fade" id="ExtralargeModal" tabindex="-1">
	                <div class="modal-dialog modal-xl">
	                  <div class="modal-content">
	                    <div class="modal-header">
	                      <h5 class="modal-title" id="name">
	                      </h5>
	                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
	                    </div>
	                    <div class="modal-body">
	                    	<table class="table">
	                     		<thead>
	                     			<tr>
			                     		<th><input type="checkbox"></th>
			                     		<th>LOT</th>
			                     		<th>수량</th>
			                     		<th>입고 날짜</th>
	                     			</tr>
	                     		</thead>
	                     		<tbody id="modal">
	                     		</tbody>
	                     	</table>				
	                     </div>
	                    <div class="modal-footer">
	                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="down">Close</button>
	                    </div>
	                  </div>
	                </div>
	              </div>
			</form>
		</section>
	</main>
</body>
<script>
	$('#outLists > tr').eq(1).on('click', function(event){
		let tr = event.currentTarget;
		let abc = $(tr).children().eq(0).text();
	})



	function onModal(){
		let list = [];
		let materialNumber = $('tbody > tr').children().eq(9).text();	// 여기 확인 필요	
		console.log(materialNumber);
		$.ajax({
			url : "/deburger/containerModal",
			method : "post",
			contentType : "application/json",
			data : JSON.stringify({materialNumber}),
		})
		.done(datas =>{
			$(datas).each(function(index, item){
				var lot = item.lot;
				var inCount = item.inCount;
				var inDay = item.inDay;
				let tr =`<tr>
     				<td><input type="checkbox" id="checkOrder"></td>
     				<td>${lot}</td>
     				<td>${inCount}</td>
     				<td>${inDay}</td>
     			</tr>`
     			
				$('#modal').append(tr)
					$('#down').on('click',function(){					
						$('#modal').html('');
					})
			});		
		})
		.fail(err => console.log(err));	
	}
	
	$('#saveBtn').on('click', function(){
		alert("정상적으로 저장이 완료 되었습니다.");
	})
</script>
</html>