<!DOCTYPE html>
<th:block xmlns:th="http://www.thymeleaf.org/"
		  th:fragment="FooterFrag">

<!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    
 <div class="container">
    <div class="footerRow">
      <div class="col-12">
        <p>(주)디버거</p>
        <ul class="footerNav">
          <li>대표이사 : 천희창 | 본사 : 대구광역시 중구 중앙대로 403 9층 디버거</li>
          <li>개인정보보호 책임자 : 김도현</li>
          <li>사업자 등록번호 : 197-15-27404</li>
          <li>통신판매업 신고 : 제 2005-대구달서구-0304호</li>
        </ul>
      </div>
     
    </div>

    <div class="justify-content-between py-2 my-2 border-top">
      <p>copyright ⓒ 2024 deburger.co.kr. All Rights Reserved.</p>
    </div>

</div>
    
</footer><!-- End Footer -->
  
  <!--  -->
  <!-- Vendor JS Files 
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  
  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
  
  <div class="col-md-5 offset-md-1 mb-3"> 이메일구독
  
-->

  <!-- Template Main JS File 
  <script src="assets/js/main.js"></script>
  -->