<!DOCTYPE html>
<th:block xmlns:th="http://www.thymeleaf.org/"
		  th:fragment="SidebarFrag">

<!-- ======= Sidebar(본점) ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

	<!-- 
		End Dashboard Nav
	-->
            
      <li class="nav-item" sec:authorize="hasRole('ROLE_1')">
        <a class="nav-link collapsed" data-bs-target="#user" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-people-group"></i><span>담당자관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="user" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{insertPerson}">
             <span>담당자 등록</span>
            </a>
          </li>
        </ul>
      </li>
	
	<!-- 대운 물류관리 시작 -->
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_3')">
        <a class="nav-link collapsed" data-bs-target="#container" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-truck-ramp-box"></i><span>물류창고 관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="container" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{container}">
             <span>창고 재료 조회</span>
            </a>
          </li>
          <li>
            <a th:href="@{containerIn}">
              <span>입고 처리</span>
            </a>
          </li>
          <li>
            <a th:href="@{containerOuts}">
             <span>창고 출고 조회</span>
            </a>
          </li>
          <li>
            <a th:href="@{containerOut}">
             <span>창고 출고 처리</span>
            </a>
          </li>
        </ul>
      </li>
    <!-- 대운 물류관리 끝 -->
      
	<!-- 유진 물류관리 시작 -->
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_1','ROLE_2')">
        <a class="nav-link collapsed" data-bs-target="#logistics" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-box"></i><span>물류 관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="logistics" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{logisticList}">
             <span>물류창고 조회</span>
            </a>
          </li>
          <li>
            <a th:href="@{logisticInsert}">
              <span>물류창고 등록</span>
            </a>
          </li>
          
        </ul>
      </li>
    <!-- 유진 물류관리 끝 -->
    
    
	<!-- 발주입고관리 시작 -->
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_1','ROLE_2')">
        <a class="nav-link collapsed" data-bs-target="#order" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-truck"></i></i><span>발주 관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="order" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{selectMaterialOrder}">
             <span>발주 조회</span>
            </a>
          </li>
          <li>
            <a th:href="@{materialOrder}">
              <span>발주 등록</span>
            </a>
          </li>
          <li>
            <a th:href="@{deliveryList}">
              <span>납품 관리</span>
            </a>
          </li>
          
        </ul>
      </li>
    <!-- 발주입고관리 끝 -->
    
    
    
	<!-- 공급업체관리 시작 -->
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_1','ROLE_2')">
        <a class="nav-link collapsed" data-bs-target="#supplier" data-bs-toggle="collapse" href="#">
          <i class="fa-regular fa-credit-card"></i></i><span>공급업체 관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="supplier" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{supplierList}">
            <span>업체 조회</span>
            </a>
          </li>
          <li >
            <a th:href="@{supplierInsert}">
              <span>업체 등록</span>
            </a>
          </li>
        </ul>
      </li>
    <!-- 공급업체관리 끝 -->



	<!-- 가맹점관리 시작 -->
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_1','ROLE_2')">
        <a class="nav-link collapsed" data-bs-target="#store" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-store"></i>가맹점 관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="store" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{officeListStore}">
             <span>가맹점 목록</span>
            </a>
          </li>
          <li >
            <a th:href="@{insertStore}">
              <span >가맹점 등록</span>
            </a>
          </li>
        </ul>
      </li>
    <!-- 가맹점관리 끝 -->
    
    
    <!-- 제품관리 시작 -->
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_1','ROLE_2')">
        <a class="nav-link collapsed" data-bs-target="#product" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-burger"></i><span>제품</span><i class="bi bi-chevron-down ms-auto"></i>
          
        </a>
        <ul id="product" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="products">
              <span>제품 관리</span>
            </a>
          </li>
          <li>
            <a href="materials">
              <span>재료 관리</span>
            </a>
          </li>
        </ul>
      </li>
    <!-- 제품관리 끝 -->

	
	<!-- QSC 시작 -->
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_1','ROLE_2')">
        <a class="nav-link collapsed" data-bs-target="#qsc" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-square-check"></i><span>QSC관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="qsc" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li sec:authorize="hasRole('ROLE_1')">
            <a th:href="@{qscInsertOffice}">
              <span>QSC항목관리</span>
            </a>
          </li>
          <li>
            <a th:href="@{qscListOffice}">
              <span>QSC결과조회</span>
            </a>
          </li>
        </ul>
      </li>
    <!-- QSC 끝 -->
      
     
    <!-- 문의 시작 -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#notice" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-circle-question"></i><span>문의</span><i class="bi bi-chevron-down ms-auto"></i>
          
        </a>
        <ul id="notice" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{noticeListOffice}">
              <span>공지사항</span>
            </a>
          </li>
          <li>
            <a th:href="@{qnaListOffice}"  sec:authorize="hasAnyRole('ROLE_2')">
              <span>Q&A</span>
            </a>
                        <a th:href="@{qnaListOffice}"  sec:authorize="hasAnyRole('ROLE_1')">
              <span>Q&A</span>
            </a>
          </li>
        </ul>
      </li>
    <!-- 문의 끝 -->
      

    </ul>

  </aside><!-- End Sidebar-->